build/about.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="wrapper">
      <header class="header">
        <div class="container"><a class="logo" href="index.html"><img src="images/logo.svg" alt="logo"></a><a class="buy-btn" href="#"></a>
          <div class="burger-menu js-nav">
            <nav class="nav">
              <ul class="nav__list">
                <li class="nav__item"><a class="nav__link active" href="instruction.html">Инструкция</a></li>
                <li class="nav__item"><a class="nav__link" href="articles.html">Статьи</a></li>
                <li class="nav__item"><a class="nav__link" href="about.html">про Эргоферон</a></li>
                <li class="nav__item"><span class="nav__link js-open-accept">Специалистам</span></li>
              </ul>
            </nav><a class="btn primary" href="#">Купить</a>
          </div>
          <div class="burger js-burger"><span></span><span></span><span></span></div>
        </div>
      </header>
      <main class="main">
        <div class="grid-main statick-section">
          <div class="grid-item middle-x order-1 disabled-hover">
            <div class="grid-wrap start-start" style="background-color: #FFFFFF;">
              <h2>Эргоферон</h2>
              <h3 style="max-width: 350px;">лечение гриппа и ОРВИ в полном объеме для всей семьи</h3>
              <div class="abs-img"><img src="images/intro2.png" alt="" style="width: 70% !important; display: block; margin: 0 auto;"></div>
            </div>
          </div>
          <div class="grid-item small order-2">
            <div class="grid-wrap center-bottom" style="background-image: url('images/b1.jpg');">
              <h4 style="color: #FFFFFF; margin-bottom: 0;">Борьба<br>с вирусами</h4>
            </div>
          </div>
          <div class="grid-item small order-3">
            <div class="grid-wrap center-center" style="background-color: #F05638;">
              <h4 style="color: #FFFFFF; margin-bottom: 10px;">Укрепление<br>иммунитета</h4><img src="images/shield.png" alt="" style="width: 50% !important; display: block;">
            </div>
          </div>
          <div class="grid-item small-long-x order-4 js-open-descr">
            <div class="grid-item" style="background-color: #88D4D6;">
              <div class="grid-wrap center-center"><img src="images/hailer2.png" alt="" style="width: 70% !important; display: block;"></div>
            </div>
            <div class="grid-item" style="background-color: #88D4D6;">
              <div class="grid-wrap center-center">
                <h4>Рекомендуют<br>специалисты</h4>
                <button type="button" style="color: #FFFFFF;">ПОДРОБНЕЕ ></button>
              </div>
            </div>
            <div class="modal modal_descr js-descr-modal scroll-wrap">
              <div class="modal__wrap">
                <button class="modal__close js-close-modal" type="button"></button>
                <h3 class="modal__accept-title">Усиленное противовирусное действие</h3>
                <p class="modal__text"><span>Эргоферон® </span>активирует важнейшие механизмы иммунной защиты:</p>
                <div class="modal__info-wrap">
                  <div class="drug">
                    <div class="drug__wrap">
                      <div class="drug__img"><img src="images/v1.png" alt=""></div><span class="drug__title">Т-лимфоциты</span>
                      <p class="drug__text">отвечают за узнавание чужеродных агентов (вирусы, бактерии)</p>
                    </div>
                  </div>
                  <div class="drug">
                    <div class="drug__wrap">
                      <div class="drug__img"><img src="images/v2.png" alt=""></div><span class="drug__title">Интерфероны</span>
                      <p class="drug__text">защищают клетки от вирусов</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="grid-item small order-5" style="background-color: #FFC80A;">
            <div class="grid-wrap center-center"><img src="images/sh1.png" alt="" style="width: 120% !important;">
              <h4 style="margin: 0px;">Облегчение<br>симптомов</h4>
            </div>
          </div>
          <div class="grid-item small order-6" style="background-color: #8F76BC;">
            <div class="grid-wrap center-center"><img src="images/ch2.png" alt="" style="width: 70% !important;">
              <h4 style="color: #FFFFFF; margin: 0;">Защита<br>от осложнений</h4>
            </div>
          </div>
        </div>
        <section class="consumer-section">
          <div class="container">
            <h2 class="section-title">Выбор специалистов и потребителей</h2>
            <div class="consumer-wrap">
              <div class="consumer">
                <div class="consumer__wrap">
                  <div class="consumer__img"><img src="images/k1.png" alt=""></div>
                  <p class="consumer__text">Препарат выбора для лечения простуды и гриппа по версии премии "Зеленый крест - 2019"</p>
                </div>
              </div>
              <div class="consumer">
                <div class="consumer__wrap">
                  <div class="consumer__img"><img src="images/k2.png" alt=""></div>
                  <p class="consumer__text">Признан "Маркой №1 в России - 2019" в категории "Средство от простуды и гриппа"</p>
                </div>
              </div>
              <div class="consumer">
                <div class="consumer__wrap">
                  <div class="consumer__img"><img src="images/k3.png" alt=""></div>
                  <p class="consumer__text">2 место в номинации "Самый назначаемый препарат при лечении ОРВИ и гриппа" по версии Russian Pharma Awards 2018</p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="action-section">
          <div class="container">
            <h2 class="section-title">Принцип действия</h2>
            <div class="action-wrap">
              <div class="action">
                <div class="action__wrap">
                  <h3 class="action__title">Усиление выработки <br>и активация интерферонов</h3>
                  <div class="action__img"><img src="images/action-img1.svg" alt=""></div>
                  <ul class="action__list">
                    <li>Остановка размножения вирусов</li>
                    <li>Активация синтеза противовирусных белков</li>
                    <li>Защита от заражения здоровых клеток</li>
                  </ul>
                </div>
              </div>
              <div class="action">
                <div class="action__wrap">
                  <h3 class="action__title">Активация<br>иммунитета</h3>
                  <div class="action__img"><img src="images/action-img2.svg" alt=""></div>
                  <ul class="action__list">
                    <li>Препятствие распространению вирусов и бактерий в дыхательных путях</li>
                    <li>Улучшение распознавания вирусов и бактерий</li>
                    <li>Активация  удаления вирусов и бактерий из организма</li>
                    <li>Регуляция работы клеток иммунной системы</li>
                  </ul>
                </div>
              </div>
              <div class="action">
                <div class="action__wrap">
                  <h3 class="action__title">Уменьшение <br>воспаления и отека</h3>
                  <div class="action__img"><img src="images/action-img3.svg" alt=""></div>
                  <ul class="action__list">
                    <li>Нормализация уровня  цитокинов, вызывающих температуру и отек</li>
                    <li>Устранение аллергического компонента инфекции</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>
        <div class="grid-main statick">
          <div class="grid-item small order-1 disabled-hover">
            <div class="grid-wrap center-center" style="background-color: #88D4D6;">
              <h3 style="color: #FFFFFF;">Доступный</h3>
              <h5>Отпускается<br>без рецепта</h5>
            </div>
          </div>
          <div class="grid-item small order-2">
            <div class="grid-wrap center-center" style="background-color: #FFC80A;">
              <h3 style="color: #FFFFFF;">Приятный</h3>
              <h5 style="margin: -18px 0 0">Приятный вкус <br>Не требует<br>запивания водой</h5>
            </div>
          </div>
          <div class="grid-item small order-3">
            <div class="grid-wrap center-center" style="background-color: #F05638;">
              <h3 style="color: #FFFFFF;">Выгодный</h3>
              <h5>Упаковка<br>на курс лечения </h5>
            </div>
          </div>
          <div class="grid-item small order-4">
            <div class="grid-wrap center-center" style="background-color: #448CDA;">
              <h3 style="color: #FFFFFF;">Удобный</h3>
              <h5>Можно взять с<br>собой</h5>
            </div>
          </div>
          <div class="grid-item middle-x order-5">
            <div class="grid-wrap center-center" style="background-color: #93B6B7;"><img src="images/e2.png" alt=""></div>
          </div>
          <div class="grid-item small order-6 triangle">
            <div class="grid-wrap center-center" style="background-color: #F5F5F5;">
              <h6>Инструкция</h6><a class="btn primary" href="#" style="color: #000000;">посмотреть</a>
            </div>
          </div>
          <div class="grid-item small order-7">
            <div class="grid-wrap center-center" style="background-color: #FFC80A;">
              <h4>Где купить?</h4><a href="#">ПОДРОБНЕЕ ></a><img src="images/s1.png" alt="">
            </div>
          </div>
        </div>
        <section class="section-purpose">
          <div class="container">
            <h2 class="section-title">Назначение</h2>
            <div class="purpose-wrap">
              <div class="purpose">
                <div class="purpose__wrap">
                  <div class="purpose__img"><img src="images/purpose__img1.png" alt=""></div>
                  <h3 class="purpose__title">Для лечения <br>острых респираторных вирусных инфекций</h3>
                </div>
              </div>
              <div class="purpose">
                <div class="purpose__wrap">
                  <div class="purpose__img"><img src="images/purpose__img2.png" alt=""></div>
                  <h3 class="purpose__title">Для лечения <br>гриппа</h3>
                </div>
              </div>
              <div class="purpose">
                <div class="purpose__wrap">
                  <div class="purpose__img"><img src="images/purpose__img3.png" alt=""></div>
                  <h3 class="purpose__title">Для лечения <br>кишечных инфекций вирусной этиологии</h3>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="scheme-section">
          <div class="container">
            <h2 class="section-title">Схема приема</h2>
            <h3 class="scheme-subtitle">Средняя продолжительность курса составляет 5 дней</h3>
            <div class="scheme-img"><img src="images/scheme-img.svg" alt=""></div>
            <div class="scheme-wrap">
              <div class="scheme">
                <div class="scheme__wrap"><span class="scheme__title">первые сутки</span><span class="scheme__subtitle">5</span><span class="scheme__text">таблеток<br>в первые 2 часа</span>
                  <p class="scheme__subtext">Каждые 30 минут</p>
                </div>
              </div>
              <div class="scheme">
                <div class="scheme__wrap"><span class="scheme__title">первые сутки</span><span class="scheme__subtitle">3</span><span class="scheme__text">таблеток<br>в первые 2 часа</span>
                  <p class="scheme__subtext">Через равные промежутки времени</p>
                </div>
              </div>
              <div class="scheme">
                <div class="scheme__wrap"><span class="scheme__title">со 2-го дня до выздоровления</span><span class="scheme__subtitle">3</span><span class="scheme__text">таблетки<br>в сутки</span>
                  <p class="scheme__subtext">Утром, днем и вечером</p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="instruct-section">
          <div class="container">
            <div class="instruct" style="background-color: #F8F9FB;">
              <div class="instruct__img"><img src="images/tablet.svg" alt=""></div>
              <div class="instruct__content">
                <h3 class="instruct__title">На один прием — 1 таблетка</h3>
                <p class="instruct__text">Таблетку следует держать во рту, не проглатывая, до полного растворения</p>
              </div>
            </div>
            <div class="instruct" style="background-color: #8F76BC;">
              <div class="instruct__img"><img src="images/spoon.png" alt=""></div>
              <div class="instruct__content">
                <h3 class="instruct__title" style="color: #FFFFFF;">Для детей младшего возраста</h3>
                <p class="instruct__text" style="color: #FFFFFF;">Детям от 6 месяцев до 3 лет рекомендуется растворять таблетку в небольшом количестве (1 столовая ложка) кипяченой воды комнатной температуры</p>
              </div>
            </div>
          </div>
        </section>
      </main>
      <footer class="footer">
        <div class="container">
          <div class="footer-nav"><a class="logo" href="#"><img src="images/logo.svg" alt="logo"></a>
            <div class="footer-content">
              <nav class="nav"> <span class="nav__title">МЕНЮ</span>
                <ul class="nav__list">
                  <li class="nav__item"><a class="nav__link" href="#">Инструкция</a></li>
                  <li class="nav__item"><a class="nav__link" href="#">Статьи</a></li>
                  <li class="nav__item"><a class="nav__link" href="#">Об эргоферон</a></li>
                  <li class="nav__item"><a class="nav__link" href="#">Специалистам</a></li>
                </ul>
              </nav>
              <nav class="nav"><span class="nav__title">Горячая линия</span>
                <ul class="nav__list">
                  <li class="nav__item"><a class="nav__link" href="#">+7 (495) 681-09-30</a></li>
                  <li class="nav__item"><a class="nav__link" href="#">+7 (495) 681-93-00</a></li>
                </ul>
              </nav>
              <button class="btn primary js-open-form" type="button">ЗАДАТЬ ВОПРОС</button>
            </div>
          </div>
          <div class="footer-info">
            <p class="copyright">© 2020 Все права защищены. ООО «НПФ «Материа Медика Холдинг» 129272, Москва, ул. Трифоновская, д. 47 , стр. 1, +7 (495) 276-15-71</p><a class="footer-logo" href="#"><img src="images/logo2.svg" alt=""></a>
          </div>
        </div>
        <div class="footer-instruction"> 
          <div class="container">
            <p class="instruction">ИМЕЮТСЯ ПРОТИВОПОКАЗАНИЯ. ПЕРЕД ПРИМЕНЕНИЕМ ОЗНАКОМЬТЕСЬ С <a href="#">ИНСТРУКЦИЕЙ</a></p>
          </div>
        </div>
      </footer>
      <div class="mask js-mask"></div>
      <div class="mask js-video-mask"></div>
      <div class="modal js-accept-modal scroll-wrap">
        <div class="modal__wrap">
          <button class="modal__close js-close-modal" type="button"></button>
          <h3 class="modal__accept-title">Являетесь ли вы специалистом здравоохранения?</h3>
          <div class="modal__nav"><a class="modal__btn" href="specialists.html">да</a>
            <button class="modal__btn js-close-modal" type="button">нет</button>
          </div>
        </div>
      </div>
      <div class="modal modal_descr js-form-modal scroll-wrap" id="popup_query">
        <div class="modal__wrap">
          <button class="modal__close js-close-modal" type="button"></button>
          <h3 class="section-title">Задать вопрос</h3>
          <form class="form" action="#">
            <div class="form__wrap">
              <label>Имя</label>
              <input type="text" id="feedback_name">
              <label>E-mail</label>
              <input type="email" id="feedback_email">
              <label>Вопрос</label>
              <textarea type="text" id="feedback_message"></textarea>
              <label>Код с картинки</label>
              <div class="form__code-wrap">
                <input class="form__number" type="number" id="feedback_captcha">
                <button class="form__reload-btn" type="button"></button>
                <input type="number" name="feedback_captcha" maxlength="5">
              </div>
              <button class="btn primary js-valid" type="submit">отправить</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="js/libs/libs.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>

app/pages/about.pug
extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main
		.grid-main.statick-section
			.grid-item.middle-x.order-1.disabled-hover
				.grid-wrap.start-start(style="background-color: #FFFFFF;")
					h2 Эргоферон
					h3(style="max-width: 350px;") лечение гриппа и ОРВИ в полном объеме для всей семьи
					.abs-img
						img(src="images/intro2.png", alt="" style="width: 70% !important; display: block; margin: 0 auto;")

			.grid-item.small.order-2
				.grid-wrap.center-bottom(style="background-image: url('images/b1.jpg');")
					h4(style="color: #FFFFFF; margin-bottom: 0;") Борьба
						br
						| с вирусами

			.grid-item.small.order-3
				.grid-wrap.center-center(style="background-color: #F05638;")
					h4(style="color: #FFFFFF; margin-bottom: 10px;") Укрепление
						br
						| иммунитета
					img(src="images/shield.png", alt="" style="width: 50% !important; display: block;")

			.grid-item.small-long-x.order-4.js-open-descr
				.grid-item(style="background-color: #88D4D6;")
					.grid-wrap.center-center
						img(src="images/hailer2.png", alt="" style="width: 70% !important; display: block;")
					
				.grid-item(style="background-color: #88D4D6;")
					.grid-wrap.center-center
						h4 Рекомендуют
							br
							| специалисты
						button(type="button" style="color: #FFFFFF;") ПОДРОБНЕЕ >
				.modal.modal_descr.js-descr-modal.scroll-wrap
					.modal__wrap
						button(type="button").modal__close.js-close-modal
						h3.modal__accept-title Усиленное противовирусное действие
						p.modal__text
							span Эргоферон® 
							| активирует важнейшие механизмы иммунной защиты:
						.modal__info-wrap
							.drug
								.drug__wrap
									.drug__img
										img(src="images/v1.png", alt="")
									span.drug__title Т-лимфоциты
									p.drug__text отвечают за узнавание чужеродных агентов (вирусы, бактерии)
							.drug
								.drug__wrap
									.drug__img
										img(src="images/v2.png", alt="")
									span.drug__title Интерфероны
									p.drug__text защищают клетки от вирусов

			.grid-item.small.order-5(style="background-color: #FFC80A;")
				.grid-wrap.center-center
					img(src="images/sh1.png", alt="" style="width: 120% !important;")
					h4(style="margin: 0px;") Облегчение
						br
						| симптомов
			
			.grid-item.small.order-6(style="background-color: #8F76BC;")
				.grid-wrap.center-center
					img(src="images/ch2.png", alt="" style="width: 70% !important;")
					h4(style="color: #FFFFFF; margin: 0;") Защита
						br 
						| от осложнений

		include ../blocks/section-consumer/section-consumer
		include ../blocks/section-action/section-action

		.grid-main.statick
			.grid-item.small.order-1.disabled-hover
				.grid-wrap.center-center(style="background-color: #88D4D6;")
					h3(style="color: #FFFFFF;") Доступный
					h5 Отпускается
						br
						| без рецепта
			.grid-item.small.order-2
				.grid-wrap.center-center(style="background-color: #FFC80A;")
					h3(style="color: #FFFFFF;") Приятный
					h5(style="margin: -18px 0 0") Приятный вкус 
						br
						| Не требует
						br
						| запивания водой
			.grid-item.small.order-3
				.grid-wrap.center-center(style="background-color: #F05638;")
					h3(style="color: #FFFFFF;") Выгодный
					h5 Упаковка
						br
						| на курс лечения 
			.grid-item.small.order-4
				.grid-wrap.center-center(style="background-color: #448CDA;")
					h3(style="color: #FFFFFF;") Удобный
					h5 Можно взять с
						br
						| собой
			.grid-item.middle-x.order-5
				.grid-wrap.center-center(style="background-color: #93B6B7;")
					img(src="images/e2.png", alt="")
			.grid-item.small.order-6.triangle
				.grid-wrap.center-center(style="background-color: #F5F5F5;")
					h6 Инструкция
					a(href="#" style="color: #000000;").btn.primary посмотреть
			.grid-item.small.order-7
				.grid-wrap.center-center(style="background-color: #FFC80A;")
					h4 Где купить?
					a(href="#") ПОДРОБНЕЕ >
					img(src="images/s1.png", alt="")

		include ../blocks/section-purpose/section-purpose
		include ../blocks/section-scheme/section-scheme
		include ../blocks/section-instruction/section-instruction

block footer
	include ../blocks/footer/footer
