build/articles.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="wrapper">
      <header class="header">
        <div class="container"><a class="logo" href="index.html"><img src="images/logo.svg" alt="logo"></a><a class="buy-btn" href="#"></a>
          <div class="burger-menu js-nav">
            <nav class="nav">
              <ul class="nav__list">
                <li class="nav__item"><a class="nav__link active" href="instruction.html">Инструкция</a></li>
                <li class="nav__item"><a class="nav__link" href="articles.html">Статьи</a></li>
                <li class="nav__item"><a class="nav__link" href="about.html">про Эргоферон</a></li>
                <li class="nav__item"><span class="nav__link js-open-accept">Специалистам</span></li>
              </ul>
            </nav><a class="btn primary" href="#">Купить</a>
          </div>
          <div class="burger js-burger"><span></span><span></span><span></span></div>
        </div>
      </header>
      <main class="main"> 
        <section class="list-section">
          <div class="container">
            <h1 class="main-title">Статьи</h1>
            <div class="articles-container"><a class="article" href="articles.html">
                <div class="article__wrap">
                  <div class="article__img" style="background-image: url('images/art8.jpg')"></div>
                  <div class="article__info">
                    <h2 class="article__name">Особенности осеннего гриппа</h2><span class="article__date">20 июня 2020</span>
                  </div>
                </div></a><a class="article not-img" href="articles.html">
                <div class="article__wrap">
                  <div class="article__info">
                    <h2 class="article__name">Лечение и профилактика гриппа</h2>
                    <p class="article__descr">Профилактика гриппа — это меры по предупреждению болезни, а вовсе не лечению.</p><span class="article__date">20 июня 2020</span>
                  </div>
                </div></a><a class="article" href="articles.html">
                <div class="article__wrap" style="background-color: #93B6B7;">
                  <div class="article__img" style="background-image: url('images/art9.png')"></div>
                  <div class="article__info">
                    <h2 class="article__name">Средство от ОРВИ. Эргоферон</h2><span class="article__date">20 июня 2020</span>
                  </div>
                </div></a><a class="article not-img" href="articles.html">
                <div class="article__wrap" style="background-color: #FFC80A;">
                  <div class="article__info">
                    <h2 class="article__name">Профилактика ОРВИ</h2>
                    <p class="article__descr">В нашем «общественном сознании» грипп, ОРВИ и ОРЗ считаются практически «родственниками».</p><span class="article__date">20 июня 2020</span>
                  </div>
                </div></a><a class="article" href="articles.html">
                <div class="article__wrap">
                  <div class="article__img" style="background-image: url('images/art5.jpg')"></div>
                  <div class="article__info">
                    <h2 class="article__name">Особенности осеннего гриппа</h2><span class="article__date">20 июня 2020</span>
                  </div>
                </div></a><a class="article" href="articles.html">
                <div class="article__wrap">
                  <div class="article__img" style="background-image: url('images/art1.jpg')"></div>
                  <div class="article__info">
                    <h2 class="article__name">Особенности осеннего гриппа</h2><span class="article__date">20 июня 2020</span>
                  </div>
                </div></a><a class="article" href="articles.html">
                <div class="article__wrap">
                  <div class="article__img" style="background-image: url('images/art1.jpg')"></div>
                  <div class="article__info">
                    <h2 class="article__name">Особенности осеннего гриппа</h2><span class="article__date">20 июня 2020</span>
                  </div>
                </div></a><a class="article" href="articles.html">
                <div class="article__wrap">
                  <div class="article__img" style="background-image: url('images/art1.jpg')"></div>
                  <div class="article__info">
                    <h2 class="article__name">Особенности осеннего гриппа</h2><span class="article__date">20 июня 2020</span>
                  </div>
                </div></a><a class="article" href="articles.html">
                <div class="article__wrap">
                  <div class="article__img" style="background-image: url('images/art1.jpg')"></div>
                  <div class="article__info">
                    <h2 class="article__name">Особенности осеннего гриппа</h2><span class="article__date">20 июня 2020</span>
                  </div>
                </div></a><a class="article" href="articles.html">
                <div class="article__wrap">
                  <div class="article__img" style="background-image: url('images/art1.jpg')"></div>
                  <div class="article__info">
                    <h2 class="article__name">Особенности осеннего гриппа</h2><span class="article__date">20 июня 2020</span>
                  </div>
                </div></a><a class="article" href="articles.html">
                <div class="article__wrap">
                  <div class="article__img" style="background-image: url('images/art1.jpg')"></div>
                  <div class="article__info">
                    <h2 class="article__name">Особенности осеннего гриппа</h2><span class="article__date">20 июня 2020</span>
                  </div>
                </div></a><a class="article" href="articles.html">
                <div class="article__wrap">
                  <div class="article__img" style="background-image: url('images/art1.jpg')"></div>
                  <div class="article__info">
                    <h2 class="article__name">Особенности осеннего гриппа</h2><span class="article__date">20 июня 2020</span>
                  </div>
                </div></a><a class="article" href="articles.html">
                <div class="article__wrap">
                  <div class="article__img" style="background-image: url('images/art1.jpg')"></div>
                  <div class="article__info">
                    <h2 class="article__name">Особенности осеннего гриппа</h2><span class="article__date">20 июня 2020</span>
                  </div>
                </div></a><a class="article" href="articles.html">
                <div class="article__wrap">
                  <div class="article__img" style="background-image: url('images/art1.jpg')"></div>
                  <div class="article__info">
                    <h2 class="article__name">Особенности осеннего гриппа</h2><span class="article__date">20 июня 2020</span>
                  </div>
                </div></a><a class="article not-img" href="articles.html">
                <div class="article__wrap">
                  <div class="article__info">
                    <h2 class="article__name">Особенности осеннего гриппа</h2>
                    <p class="article__descr">В нашем «общественном сознании» грипп, ОРВИ и ОРЗ считаются практически «родственниками».</p><span class="article__date">20 июня 2020</span>
                  </div>
                </div></a></div>
            <div class="btn-wrap">
              <button class="order-btn js-more-btn" type="button">СМОТРЕТЬ ЕЩЁ</button>
            </div>
          </div>
        </section>
      </main>
      <footer class="footer">
        <div class="container">
          <div class="footer-nav"><a class="logo" href="#"><img src="images/logo.svg" alt="logo"></a>
            <div class="footer-content">
              <nav class="nav"> <span class="nav__title">МЕНЮ</span>
                <ul class="nav__list">
                  <li class="nav__item"><a class="nav__link" href="#">Инструкция</a></li>
                  <li class="nav__item"><a class="nav__link" href="#">Статьи</a></li>
                  <li class="nav__item"><a class="nav__link" href="#">Об эргоферон</a></li>
                  <li class="nav__item"><a class="nav__link" href="#">Специалистам</a></li>
                </ul>
              </nav>
              <nav class="nav"><span class="nav__title">Горячая линия</span>
                <ul class="nav__list">
                  <li class="nav__item"><a class="nav__link" href="#">+7 (495) 681-09-30</a></li>
                  <li class="nav__item"><a class="nav__link" href="#">+7 (495) 681-93-00</a></li>
                </ul>
              </nav>
              <button class="btn primary js-open-form" type="button">ЗАДАТЬ ВОПРОС</button>
            </div>
          </div>
          <div class="footer-info">
            <p class="copyright">© 2020 Все права защищены. ООО «НПФ «Материа Медика Холдинг» 129272, Москва, ул. Трифоновская, д. 47 , стр. 1, +7 (495) 276-15-71</p><a class="footer-logo" href="#"><img src="images/logo2.svg" alt=""></a>
          </div>
        </div>
        <div class="footer-instruction"> 
          <div class="container">
            <p class="instruction">ИМЕЮТСЯ ПРОТИВОПОКАЗАНИЯ. ПЕРЕД ПРИМЕНЕНИЕМ ОЗНАКОМЬТЕСЬ С <a href="#">ИНСТРУКЦИЕЙ</a></p>
          </div>
        </div>
      </footer>
      <div class="mask js-mask"></div>
      <div class="mask js-video-mask"></div>
      <div class="modal js-accept-modal scroll-wrap">
        <div class="modal__wrap">
          <button class="modal__close js-close-modal" type="button"></button>
          <h3 class="modal__accept-title">Являетесь ли вы специалистом здравоохранения?</h3>
          <div class="modal__nav"><a class="modal__btn" href="specialists.html">да</a>
            <button class="modal__btn js-close-modal" type="button">нет</button>
          </div>
        </div>
      </div>
      <div class="modal modal_descr js-form-modal scroll-wrap" id="popup_query">
        <div class="modal__wrap">
          <button class="modal__close js-close-modal" type="button"></button>
          <h3 class="section-title">Задать вопрос</h3>
          <form class="form" action="#">
            <div class="form__wrap">
              <label>Имя</label>
              <input type="text" id="feedback_name">
              <label>E-mail</label>
              <input type="email" id="feedback_email">
              <label>Вопрос</label>
              <textarea type="text" id="feedback_message"></textarea>
              <label>Код с картинки</label>
              <div class="form__code-wrap">
                <input class="form__number" type="number" id="feedback_captcha">
                <button class="form__reload-btn" type="button"></button>
                <input type="number" name="feedback_captcha" maxlength="5">
              </div>
              <button class="btn primary js-valid" type="submit">отправить</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="js/libs/libs.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>

app/pages/articles.pug
extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main 
		section.list-section
			.container
				h1.main-title Статьи
				.articles-container
					a(href="articles.html").article
						.article__wrap
							.article__img(style="background-image: url('images/art8.jpg')")
							.article__info
								h2.article__name Особенности осеннего гриппа
								span.article__date 20 июня 2020
					a(href="articles.html").article.not-img
						.article__wrap
							.article__info
								h2.article__name Лечение и профилактика гриппа
								p.article__descr Профилактика гриппа — это меры по предупреждению болезни, а вовсе не лечению.
								span.article__date 20 июня 2020
					a(href="articles.html").article
						.article__wrap(style="background-color: #93B6B7;")
							.article__img(style="background-image: url('images/art9.png')")
							.article__info
								h2.article__name Средство от ОРВИ. Эргоферон
								span.article__date 20 июня 2020
					a(href="articles.html").article.not-img
						.article__wrap(style="background-color: #FFC80A;")
							.article__info
								h2.article__name Профилактика ОРВИ
								p.article__descr В нашем «общественном сознании» грипп, ОРВИ и ОРЗ считаются практически «родственниками».
								span.article__date 20 июня 2020
					a(href="articles.html").article
						.article__wrap
							.article__img(style="background-image: url('images/art5.jpg')")
							.article__info
								h2.article__name Особенности осеннего гриппа
								span.article__date 20 июня 2020
					a(href="articles.html").article
						.article__wrap
							.article__img(style="background-image: url('images/art1.jpg')")
							.article__info
								h2.article__name Особенности осеннего гриппа
								span.article__date 20 июня 2020
					a(href="articles.html").article
						.article__wrap
							.article__img(style="background-image: url('images/art1.jpg')")
							.article__info
								h2.article__name Особенности осеннего гриппа
								span.article__date 20 июня 2020
					a(href="articles.html").article
						.article__wrap
							.article__img(style="background-image: url('images/art1.jpg')")
							.article__info
								h2.article__name Особенности осеннего гриппа
								span.article__date 20 июня 2020
					a(href="articles.html").article
						.article__wrap
							.article__img(style="background-image: url('images/art1.jpg')")
							.article__info
								h2.article__name Особенности осеннего гриппа
								span.article__date 20 июня 2020
					a(href="articles.html").article
						.article__wrap
							.article__img(style="background-image: url('images/art1.jpg')")
							.article__info
								h2.article__name Особенности осеннего гриппа
								span.article__date 20 июня 2020
					a(href="articles.html").article
						.article__wrap
							.article__img(style="background-image: url('images/art1.jpg')")
							.article__info
								h2.article__name Особенности осеннего гриппа
								span.article__date 20 июня 2020
					a(href="articles.html").article
						.article__wrap
							.article__img(style="background-image: url('images/art1.jpg')")
							.article__info
								h2.article__name Особенности осеннего гриппа
								span.article__date 20 июня 2020
					a(href="articles.html").article
						.article__wrap
							.article__img(style="background-image: url('images/art1.jpg')")
							.article__info
								h2.article__name Особенности осеннего гриппа
								span.article__date 20 июня 2020
					a(href="articles.html").article
						.article__wrap
							.article__img(style="background-image: url('images/art1.jpg')")
							.article__info
								h2.article__name Особенности осеннего гриппа
								span.article__date 20 июня 2020
					a(href="articles.html").article.not-img
						.article__wrap
							.article__info
								h2.article__name Особенности осеннего гриппа
								p.article__descr В нашем «общественном сознании» грипп, ОРВИ и ОРЗ считаются практически «родственниками».
								span.article__date 20 июня 2020
				.btn-wrap
					button(type="button").order-btn.js-more-btn СМОТРЕТЬ ЕЩЁ
block footer
	include ../blocks/footer/footer
