build/article.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="wrapper">
      <header class="header">
        <div class="container"><a class="logo" href="index.html"><img src="images/logo.svg" alt="logo"></a><a class="buy-btn" href="#"></a>
          <div class="burger-menu js-nav">
            <nav class="nav">
              <ul class="nav__list">
                <li class="nav__item"><a class="nav__link active" href="instruction.html">Инструкция</a></li>
                <li class="nav__item"><a class="nav__link" href="articles.html">Статьи</a></li>
                <li class="nav__item"><a class="nav__link" href="about.html">про Эргоферон</a></li>
                <li class="nav__item"><span class="nav__link js-open-accept">Специалистам</span></li>
              </ul>
            </nav><a class="btn primary" href="#">Купить</a>
          </div>
          <div class="burger js-burger"><span></span><span></span><span></span></div>
        </div>
      </header>
      <main class="main">
        <section class="article-section">
          <div class="container">
            <article class="article-item">
              <h2 class="main-title">Эргоферон: применение для детей</h2>
              <div class="article-item__img"><img src="images/child.jpg" alt=""></div>
              <div class="article-item__content">
                <div class="article-item__wrap">
                  <p class="article-item__text">Применение <a href="#">Эргоферона </a>Эргоферона для детей, как и любого лекарственного препарата при лечении гриппа — полностью прерогатива врача, и только его. Пожалуй, этот тезис настолько важен, что его стоит повторить еще раз, только другими словами!</p>
                  <p class="article-item__text">Описание любого лекарственного препарата, показания к использованию, инструкция по его применению, и по применению Эргоферона в том числе – это «альфа и омега», «пароль и отзыв», которые врач должен знать «назубок». Да и пациентам это знание не помешает. Однако сперва...</p><a class="article" href="#">
                    <div class="article__wrap" style="background-color: #93B6B7;">
                      <div class="article__img" style="background-image: url('images/ergo-img.png')"></div>
                      <div class="article__info">
                        <h2 class="article__name">Средство от ОРВИ. Эргоферон</h2><span class="article__date">20 июня 2020</span>
                      </div>
                    </div></a>
                  <h4 class="article-item__title">Инструкция «Как простудиться»</h4>
                  <p class="article-item__text">Кто-то спросит — к чему подобные «инструкции», если и без инструкций все понятно? И все-таки, прежде чем приступать к описаниям и показаниям лекарственных препаратов — начнем с самого начала. Описание картины первой. Ребенок попросту замерз. Действительно, «отзыв» его организма в виде простуды может не заставить себя ждать. Описание картины второй. Однако «прямое» переохлаждение организма — увы, не единственная ситуация, которая может потребовать поиска лекарственных средств. Ребенок переутомлен, хронически не высыпается, и это «отличное» средство ослабить его иммунитет. Так что и здесь «отзыв» в виде ОРВИ или гриппа может «поступить» довольно быстро. Картина третья. В помещениях редко проветривают, не проводят влажную уборку, от ребенка не требуют соблюдения правил личной гигиены – еще одна ситуация, которая может стать показанием к скорому применению Эргоферона или других лекарственных препаратов. Уже можно приступать? Опять-таки, не спешите. </p>
                  <ul>
                    <li>Инструкция «Как простудиться» Инструкция «Как простудиться» Инструкция «Как простудиться» Инструкция «Как простудиться» Инструкция «Как простудиться» Инструкция «Как простудиться» Инструкция «Как простудиться»</li>
                    <li>Инструкция «Как простудиться»</li>
                    <li>Инструкция «Как простудиться»</li>
                  </ul>
                  <h4 class="article-item__title">Инструкция «Как лечить простуду»</h4>
                  <p class="article-item__text">Кажется, ребенок все-таки заболел. Показания градусника резко пошли вверх, кашель, насморк — описание симптомов известное. Пора, пора слушать советы и инструкции друзей и знакомых, их многочисленные отзывы на лекарственные препараты и народные средства, «красочные описания» того, как быстро они помогли... Применение Эргоферона, как и любого лекарственного препарата при лечении гриппа – полностью прерогатива врача, и только его. Пожалуй, этот тезис настолько важен, что его стоит повторить еще раз, только другими словами! Необходимость применения Эргоферона, как и других лекарственных препаратов, определяет только врач. Которому для этого потребуется не только личный осмотр заболевшего ребенка или взрослого, а не одно лишь «словесное описание» симптомов. Но и, возможно, проведение дополнительных анализов. Только в этом случае можно быть уверенным, что «показания сняты» верно, точный диагноз установлен, и, стало быть, будут назначены те лекарственные препараты и средства лечения, которые окажутся эффективными именно в данном конкретном случае. Возможно, в качестве средства лечения врач будет рекомендовать препарат Эргоферон, показанием к применению которого является наличие у пациента респираторной вирусной инфекции. По инструкции, этот современный противовирусный препарат разработан специально для борьбы с различными видами вирусов ОРВИ и гриппа. Одновременно применение Эргоферона у детей и взрослых может способствовать уменьшению воспаления, ослаблению всех основных симптомов простудного заболевания и активизации собственных защитных ресурсов организма. Согласно инструкции препарата, применение Эргоферона у детей разрешено с возраста 6 месяцев.</p>
                  <h4 class="article-item__title">Инструкция «Как не простужаться»</h4>
                  <p class="article-item__text">Пароль «Простуда» - отзыв «Профилактика». Именно так и можно коротко сформулировать эту инструкцию. «Шагов» в этой инструкции — довольно много. Что важно — совершать эти шаги надо постоянно, а не «от случая к случаю». Но, на самом-то деле — ничего сверхъестественного не требуется, и все необходимые средства — в прямом смысле слова под рукой. Так что, как говорится — справится даже ребенок. Естественно, под наблюдением ответственных взрослых! Ежедневные прогулки. Естественно, кислород необходим всегда, вдобавок, и шансов подхватить инфекцию на свежем воздухе куда меньше, нежели в душном помещении. Полноценный сон и разнообразное питание, снабжающее иммунитет необходимыми витаминами и микроэлементами. Особых показаний к приему не требуют. Гигиена труда и отдыха: регулярное проветривание помещений, влажная уборка, чистые руки и нос – то, что нужно, чтобы избавить себя и близких от «засилья» вирусов. Физкультура и спорт, закаливающие процедуры – обязательно найдутся те, что подойдут и взрослому, и ребенку, а о пользе их даже и напоминать как-то неловко. Добавим сюда хорошее настроение, которое непременно появится у того, кто регулярно выполняет все пункты инструкции и...  увидим, что ничего сложного и в самом деле нет! И «отзыв» организма в виде крепкой «брони» перед простудными хворями — появится практически сам собой!</p>
                  <ol>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam perspiciatis reiciendis sunt ipsa nihil, ex nam itaque iste consectetur facilis.</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, molestias?</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                  </ol>
                </div><a class="article" href="#">
                  <div class="article__wrap" style="background-color: #93B6B7;">
                    <div class="article__img" style="background-image: url('images/ergo-img.png')"></div>
                    <div class="article__info">
                      <h2 class="article__name">Средство от ОРВИ. Эргоферон</h2><span class="article__date">20 июня 2020</span>
                    </div>
                  </div></a>
              </div>
            </article>
          </div>
        </section>
        <section class="articles-section">
          <div class="container">
            <h2 class="section-title center">Похожие статьи</h2>
            <div class="articles-wrap"><a class="article" href="articles.html">
                <div class="article__wrap">
                  <div class="article__img" style="background-image: url('images/art1.jpg')"></div>
                  <div class="article__info">
                    <h2 class="article__name">Особенности осеннего гриппа</h2><span class="article__date">20 июня 2020</span>
                  </div>
                </div></a><a class="article" href="articles.html">
                <div class="article__wrap">
                  <div class="article__img" style="background-image: url('images/art1.jpg')"></div>
                  <div class="article__info">
                    <h2 class="article__name">Лечение гриппа у детей</h2><span class="article__date">20 июня 2020</span>
                  </div>
                </div></a><a class="article" href="articles.html">
                <div class="article__wrap">
                  <div class="article__img" style="background-image: url('images/art1.jpg')"></div>
                  <div class="article__info">
                    <h2 class="article__name">Лечение гриппа у детей</h2><span class="article__date">20 июня 2020</span>
                  </div>
                </div></a></div>
          </div>
        </section>
      </main>
      <footer class="footer">
        <div class="container">
          <div class="footer-nav"><a class="logo" href="#"><img src="images/logo.svg" alt="logo"></a>
            <div class="footer-content">
              <nav class="nav"> <span class="nav__title">МЕНЮ</span>
                <ul class="nav__list">
                  <li class="nav__item"><a class="nav__link" href="#">Инструкция</a></li>
                  <li class="nav__item"><a class="nav__link" href="#">Статьи</a></li>
                  <li class="nav__item"><a class="nav__link" href="#">Об эргоферон</a></li>
                  <li class="nav__item"><a class="nav__link" href="#">Специалистам</a></li>
                </ul>
              </nav>
              <nav class="nav"><span class="nav__title">Горячая линия</span>
                <ul class="nav__list">
                  <li class="nav__item"><a class="nav__link" href="#">+7 (495) 681-09-30</a></li>
                  <li class="nav__item"><a class="nav__link" href="#">+7 (495) 681-93-00</a></li>
                </ul>
              </nav>
              <button class="btn primary js-open-form" type="button">ЗАДАТЬ ВОПРОС</button>
            </div>
          </div>
          <div class="footer-info">
            <p class="copyright">© 2020 Все права защищены. ООО «НПФ «Материа Медика Холдинг» 129272, Москва, ул. Трифоновская, д. 47 , стр. 1, +7 (495) 276-15-71</p><a class="footer-logo" href="#"><img src="images/logo2.svg" alt=""></a>
          </div>
        </div>
        <div class="footer-instruction"> 
          <div class="container">
            <p class="instruction">ИМЕЮТСЯ ПРОТИВОПОКАЗАНИЯ. ПЕРЕД ПРИМЕНЕНИЕМ ОЗНАКОМЬТЕСЬ С <a href="#">ИНСТРУКЦИЕЙ</a></p>
          </div>
        </div>
      </footer>
      <div class="mask js-mask"></div>
      <div class="mask js-video-mask"></div>
      <div class="modal js-accept-modal scroll-wrap">
        <div class="modal__wrap">
          <button class="modal__close js-close-modal" type="button"></button>
          <h3 class="modal__accept-title">Являетесь ли вы специалистом здравоохранения?</h3>
          <div class="modal__nav"><a class="modal__btn" href="specialists.html">да</a>
            <button class="modal__btn js-close-modal" type="button">нет</button>
          </div>
        </div>
      </div>
      <div class="modal modal_descr js-form-modal scroll-wrap" id="popup_query">
        <div class="modal__wrap">
          <button class="modal__close js-close-modal" type="button"></button>
          <h3 class="section-title">Задать вопрос</h3>
          <form class="form" action="#">
            <div class="form__wrap">
              <label>Имя</label>
              <input type="text" id="feedback_name">
              <label>E-mail</label>
              <input type="email" id="feedback_email">
              <label>Вопрос</label>
              <textarea type="text" id="feedback_message"></textarea>
              <label>Код с картинки</label>
              <div class="form__code-wrap">
                <input class="form__number" type="number" id="feedback_captcha">
                <button class="form__reload-btn" type="button"></button>
                <input type="number" name="feedback_captcha" maxlength="5">
              </div>
              <button class="btn primary js-valid" type="submit">отправить</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="js/libs/libs.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>

app/pages/article.pug
extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main
		section.article-section
			.container
				article.article-item
					h2.main-title Эргоферон: применение для детей
					.article-item__img
						img(src="images/child.jpg", alt="")
					.article-item__content
						.article-item__wrap
							p.article-item__text Применение 
								a(href="#") Эргоферона 
								| Эргоферона для детей, как и любого лекарственного препарата при лечении гриппа — полностью прерогатива врача, и только его. Пожалуй, этот тезис настолько важен, что его стоит повторить еще раз, только другими словами!
							p.article-item__text Описание любого лекарственного препарата, показания к использованию, инструкция по его применению, и по применению Эргоферона в том числе – это «альфа и омега», «пароль и отзыв», которые врач должен знать «назубок». Да и пациентам это знание не помешает. Однако сперва...
							
							a(href="#").article
								.article__wrap(style="background-color: #93B6B7;")
									.article__img(style="background-image: url('images/ergo-img.png')")
									.article__info
										h2.article__name Средство от ОРВИ. Эргоферон
										span.article__date 20 июня 2020

							h4.article-item__title Инструкция «Как простудиться»
							p.article-item__text Кто-то спросит — к чему подобные «инструкции», если и без инструкций все понятно? И все-таки, прежде чем приступать к описаниям и показаниям лекарственных препаратов — начнем с самого начала. Описание картины первой. Ребенок попросту замерз. Действительно, «отзыв» его организма в виде простуды может не заставить себя ждать. Описание картины второй. Однако «прямое» переохлаждение организма — увы, не единственная ситуация, которая может потребовать поиска лекарственных средств. Ребенок переутомлен, хронически не высыпается, и это «отличное» средство ослабить его иммунитет. Так что и здесь «отзыв» в виде ОРВИ или гриппа может «поступить» довольно быстро. Картина третья. В помещениях редко проветривают, не проводят влажную уборку, от ребенка не требуют соблюдения правил личной гигиены – еще одна ситуация, которая может стать показанием к скорому применению Эргоферона или других лекарственных препаратов. Уже можно приступать? Опять-таки, не спешите. 
							ul
								li Инструкция «Как простудиться» Инструкция «Как простудиться» Инструкция «Как простудиться» Инструкция «Как простудиться» Инструкция «Как простудиться» Инструкция «Как простудиться» Инструкция «Как простудиться»
								li Инструкция «Как простудиться»
								li Инструкция «Как простудиться»
							h4.article-item__title Инструкция «Как лечить простуду»
							p.article-item__text Кажется, ребенок все-таки заболел. Показания градусника резко пошли вверх, кашель, насморк — описание симптомов известное. Пора, пора слушать советы и инструкции друзей и знакомых, их многочисленные отзывы на лекарственные препараты и народные средства, «красочные описания» того, как быстро они помогли... Применение Эргоферона, как и любого лекарственного препарата при лечении гриппа – полностью прерогатива врача, и только его. Пожалуй, этот тезис настолько важен, что его стоит повторить еще раз, только другими словами! Необходимость применения Эргоферона, как и других лекарственных препаратов, определяет только врач. Которому для этого потребуется не только личный осмотр заболевшего ребенка или взрослого, а не одно лишь «словесное описание» симптомов. Но и, возможно, проведение дополнительных анализов. Только в этом случае можно быть уверенным, что «показания сняты» верно, точный диагноз установлен, и, стало быть, будут назначены те лекарственные препараты и средства лечения, которые окажутся эффективными именно в данном конкретном случае. Возможно, в качестве средства лечения врач будет рекомендовать препарат Эргоферон, показанием к применению которого является наличие у пациента респираторной вирусной инфекции. По инструкции, этот современный противовирусный препарат разработан специально для борьбы с различными видами вирусов ОРВИ и гриппа. Одновременно применение Эргоферона у детей и взрослых может способствовать уменьшению воспаления, ослаблению всех основных симптомов простудного заболевания и активизации собственных защитных ресурсов организма. Согласно инструкции препарата, применение Эргоферона у детей разрешено с возраста 6 месяцев.
							h4.article-item__title Инструкция «Как не простужаться»
							p.article-item__text Пароль «Простуда» - отзыв «Профилактика». Именно так и можно коротко сформулировать эту инструкцию. «Шагов» в этой инструкции — довольно много. Что важно — совершать эти шаги надо постоянно, а не «от случая к случаю». Но, на самом-то деле — ничего сверхъестественного не требуется, и все необходимые средства — в прямом смысле слова под рукой. Так что, как говорится — справится даже ребенок. Естественно, под наблюдением ответственных взрослых! Ежедневные прогулки. Естественно, кислород необходим всегда, вдобавок, и шансов подхватить инфекцию на свежем воздухе куда меньше, нежели в душном помещении. Полноценный сон и разнообразное питание, снабжающее иммунитет необходимыми витаминами и микроэлементами. Особых показаний к приему не требуют. Гигиена труда и отдыха: регулярное проветривание помещений, влажная уборка, чистые руки и нос – то, что нужно, чтобы избавить себя и близких от «засилья» вирусов. Физкультура и спорт, закаливающие процедуры – обязательно найдутся те, что подойдут и взрослому, и ребенку, а о пользе их даже и напоминать как-то неловко. Добавим сюда хорошее настроение, которое непременно появится у того, кто регулярно выполняет все пункты инструкции и...  увидим, что ничего сложного и в самом деле нет! И «отзыв» организма в виде крепкой «брони» перед простудными хворями — появится практически сам собой!
							ol
								li Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam perspiciatis reiciendis sunt ipsa nihil, ex nam itaque iste consectetur facilis.
								li Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, molestias?
								li Lorem ipsum dolor sit amet.
						
						a(href="#").article
							.article__wrap(style="background-color: #93B6B7;")
								.article__img(style="background-image: url('images/ergo-img.png')")
								.article__info
									h2.article__name Средство от ОРВИ. Эргоферон
									span.article__date 20 июня 2020
				
		section.articles-section
			.container
				h2.section-title.center Похожие статьи
				.articles-wrap
					a(href="articles.html").article
						.article__wrap
							.article__img(style="background-image: url('images/art1.jpg')")
							.article__info
								h2.article__name Особенности осеннего гриппа
								span.article__date 20 июня 2020
					a(href="articles.html").article
						.article__wrap
							.article__img(style="background-image: url('images/art1.jpg')")
							.article__info
								h2.article__name Лечение гриппа у детей
								span.article__date 20 июня 2020
					a(href="articles.html").article
						.article__wrap
							.article__img(style="background-image: url('images/art1.jpg')")
							.article__info
								h2.article__name Лечение гриппа у детей
								span.article__date 20 июня 2020

block footer
	include ../blocks/footer/footer
