build/banner4.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="wrapper">
      <header class="header">
        <div class="container"><a class="logo" href="index.html"><img src="images/logo.svg" alt="logo"></a><a class="buy-btn" href="#"></a>
          <div class="burger-menu js-nav">
            <nav class="nav">
              <ul class="nav__list">
                <li class="nav__item"><a class="nav__link active" href="instruction.html">Инструкция</a></li>
                <li class="nav__item"><a class="nav__link" href="articles.html">Статьи</a></li>
                <li class="nav__item"><a class="nav__link" href="about.html">про Эргоферон</a></li>
                <li class="nav__item"><span class="nav__link js-open-accept">Специалистам</span></li>
              </ul>
            </nav><a class="btn primary" href="#">Купить</a>
          </div>
          <div class="burger js-burger"><span></span><span></span><span></span></div>
        </div>
      </header>
      <main class="main"> 
        <div class="grid-main">
          <div class="grid-item big order-1">
            <div class="grid-wrap start-start" style="background-image: url('images/grid2.jpg')">
              <h2 style="color: #FFFFFF;">Грипп? ОРВИ? Сезон? Эргоферон!</h2>
              <div class="abs-img"><img src="images/intro2.png" alt="" style="width: 70%; display: block; margin: 0 auto;"></div>
            </div>
          </div>
          <div class="grid-item small order-2 js-open-descr" style="background-color: #FFC80A;">
            <div class="grid-wrap center-center">
              <div class="grid-half center-center"><img src="images/house.png" alt="" style="width: 70%;"></div>
              <div class="grid-half center-center">
                <h4>Подходит для всей семьи</h4>
                <button type="button">ПОДРОБНЕЕ ></button>
              </div>
            </div>
          </div>
          <div class="grid-item small order-3 js-open-descr" style="background-color: #448CDA;">
            <div class="grid-wrap mob-row">
              <div class="grid-half center-center">
                <h4 style="color: #FFFFFF;">Снижает выраженность симптомов простуды</h4>
                <button type="button" style="color: #FFC80A; margin: 0;">ПОДРОБНЕЕ ></button>
              </div>
              <div class="grid-half center-center"><img src="images/thermometer.png" alt="" style="width: 70%;"></div>
            </div>
          </div>
          <div class="grid-item small order-4" style="background-color: #F5F5F5;">
            <div class="grid-wrap center-center">
              <h3>Инструкция</h3><a class="btn primary" href="#">посмотреть</a>
            </div>
          </div>
          <div class="grid-item small order-5 js-open-descr" style="background-color: #F05638;">
            <div class="grid-wrap center-center">
              <h4 style="color: #FFFFFF;">Усиленное противовирусное действие</h4>
              <button type="button" style="color: #FFC80A; margin-bottom: 0;">ПОДРОБНЕЕ ></button>
            </div>
          </div>
          <div class="grid-item small-long-y order-6 js-open-descr" style="background-color: #448CDA;">
            <div class="grid-item">
              <div class="grid-wrap center-center">
                <h3 style="color: #FFFFFF;">Снижает выраженность симптомов простуды</h3>
                <button type="button" style="color: #FFC80A; margin: 0;">ПОДРОБНЕЕ ></button>
              </div>
            </div>
            <div class="grid-item">
              <div class="grid-wrap center-center"><img src="images/thermometer.png" alt="" style="width: 70%;"></div>
            </div>
          </div>
          <div class="grid-item small-long-x order-7 js-open-descr">
            <div class="grid-item" style="background-color: #88D4D6;">
              <div class="grid-wrap center-center"><img src="images/hailer.png" alt="" style="width: 70%;"></div>
            </div>
            <div class="grid-item" style="background-color: #88D4D6;">
              <div class="grid-wrap center-center">
                <h3>Рекомендуют специалисты</h3>
                <button type="button" style="margin: 0 auto">ПОДРОБНЕЕ ></button>
              </div>
            </div>
          </div>
          <div class="grid-item small-long-y order-8 js-open-descr">
            <div class="grid-wrap center-center" style="background-color: #F05638;">
              <h3 style="color: #FFFFFF;">Усиленное противовирусное действие</h3>
              <button type="button" style="color: #FFC80A; margin: 0;">ПОДРОБНЕЕ ></button>
            </div>
          </div>
          <div class="grid-item big order-9">
            <div class="grid-wrap start-end" style="background-image: url('images/family.jpg');">
              <h2 style="color: #FFFFFF;">Защищает от развития осложнений</h2>
            </div>
          </div>
          <div class="grid-item small-long-y order-10 js-open-descr">
            <div class="grid-item" style="background-color: #8F76BC;">
              <div class="grid-wrap center-center"><img src="images/dummy.png" alt="" style="width: 70%;"></div>
            </div>
            <div class="grid-item" style="background-color: #8F76BC;">
              <div class="grid-wrap center-center">
                <h3 style="color: #FFFFFF;">Подходит для детей с 6 месяцев</h3>
                <button type="button" style="margin: 0 auto;">ПОДРОБНЕЕ ></button>
              </div>
            </div>
          </div>
          <div class="grid-item small-long-y order-11 js-open-descr">
            <div class="grid-item" style="background-color: #F5F5F5;">
              <div class="grid-wrap center-center">
                <h3>Выгодное решение!</h3>
                <p>Одной упаковки хватает на полный курс лечения</p>
              </div>
            </div>
            <div class="grid-item" style="background-color: #F5F5F5;">
              <div class="grid-wrap center-center"><img src="images/pig.png" alt="" style="width: 70%;"></div>
            </div>
          </div>
          <div class="grid-item small order-12 js-open-descr" style="background-color: #F5F5F5;">
            <div class="grid-wrap center-center">
              <div class="grid-half center-center"><img src="images/shield.png" alt="" style="width: 55% !important;"></div>
              <div class="grid-half center-center">
                <h4>Благоприятный профиль безопасности</h4>
                <button type="button" style="color: #57B9BB;">ПОДРОБНЕЕ ></button>
              </div>
            </div>
          </div>
          <div class="grid-item small order-13 js-open-descr">
            <div class="grid-item" style="background-color: #88D4D6;">
              <div class="grid-wrap center-center">
                <h3>Рекомендуют специалисты</h3>
                <button type="button" style="margin: 0 auto">ПОДРОБНЕЕ ></button>
              </div>
            </div>
          </div>
        </div>
      </main>
      <footer class="footer">
        <div class="container">
          <div class="footer-nav"><a class="logo" href="#"><img src="images/logo.svg" alt="logo"></a>
            <div class="footer-content">
              <nav class="nav"> <span class="nav__title">МЕНЮ</span>
                <ul class="nav__list">
                  <li class="nav__item"><a class="nav__link" href="#">Инструкция</a></li>
                  <li class="nav__item"><a class="nav__link" href="#">Статьи</a></li>
                  <li class="nav__item"><a class="nav__link" href="#">Об эргоферон</a></li>
                  <li class="nav__item"><a class="nav__link" href="#">Специалистам</a></li>
                </ul>
              </nav>
              <nav class="nav"><span class="nav__title">Горячая линия</span>
                <ul class="nav__list">
                  <li class="nav__item"><a class="nav__link" href="#">+7 (495) 681-09-30</a></li>
                  <li class="nav__item"><a class="nav__link" href="#">+7 (495) 681-93-00</a></li>
                </ul>
              </nav>
              <button class="btn primary js-open-form" type="button">ЗАДАТЬ ВОПРОС</button>
            </div>
          </div>
          <div class="footer-info">
            <p class="copyright">© 2020 Все права защищены. ООО «НПФ «Материа Медика Холдинг» 129272, Москва, ул. Трифоновская, д. 47 , стр. 1, +7 (495) 276-15-71</p><a class="footer-logo" href="#"><img src="images/logo2.svg" alt=""></a>
          </div>
        </div>
        <div class="footer-instruction"> 
          <div class="container">
            <p class="instruction">ИМЕЮТСЯ ПРОТИВОПОКАЗАНИЯ. ПЕРЕД ПРИМЕНЕНИЕМ ОЗНАКОМЬТЕСЬ С <a href="#">ИНСТРУКЦИЕЙ</a></p>
          </div>
        </div>
      </footer>
      <div class="mask js-mask"></div>
      <div class="mask js-video-mask"></div>
      <div class="modal js-accept-modal scroll-wrap">
        <div class="modal__wrap">
          <button class="modal__close js-close-modal" type="button"></button>
          <h3 class="modal__accept-title">Являетесь ли вы специалистом здравоохранения?</h3>
          <div class="modal__nav"><a class="modal__btn" href="specialists.html">да</a>
            <button class="modal__btn js-close-modal" type="button">нет</button>
          </div>
        </div>
      </div>
      <div class="modal modal_descr js-form-modal scroll-wrap" id="popup_query">
        <div class="modal__wrap">
          <button class="modal__close js-close-modal" type="button"></button>
          <h3 class="section-title">Задать вопрос</h3>
          <form class="form" action="#">
            <div class="form__wrap">
              <label>Имя</label>
              <input type="text" id="feedback_name">
              <label>E-mail</label>
              <input type="email" id="feedback_email">
              <label>Вопрос</label>
              <textarea type="text" id="feedback_message"></textarea>
              <label>Код с картинки</label>
              <div class="form__code-wrap">
                <input class="form__number" type="number" id="feedback_captcha">
                <button class="form__reload-btn" type="button"></button>
                <input type="number" name="feedback_captcha" maxlength="5">
              </div>
              <button class="btn primary js-valid" type="submit">отправить</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="js/libs/libs.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>

app/pages/banner4.pug
extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main 
		.grid-main
			.grid-item.big.order-1
				.grid-wrap.start-start(style="background-image: url('images/grid2.jpg')")
					h2(style="color: #FFFFFF;") Грипп? ОРВИ? Сезон? Эргоферон!
					.abs-img
						img(src="images/intro2.png", alt="" style="width: 70%; display: block; margin: 0 auto;")
			
			.grid-item.small.order-2.js-open-descr(style="background-color: #FFC80A;")
				.grid-wrap.center-center
					.grid-half.center-center
						img(src="images/house.png", alt="" style="width: 70%;")
					.grid-half.center-center
						h4 Подходит для всей семьи
						button(type="button") ПОДРОБНЕЕ >

			.grid-item.small.order-3.js-open-descr(style="background-color: #448CDA;")
				.grid-wrap.mob-row
					.grid-half.center-center
						h4(style="color: #FFFFFF;") Снижает выраженность симптомов простуды
						button(type="button" style="color: #FFC80A; margin: 0;") ПОДРОБНЕЕ >
					.grid-half.center-center
						img(src="images/thermometer.png", alt="" style="width: 70%;")
			
			.grid-item.small.order-4(style="background-color: #F5F5F5;")
				.grid-wrap.center-center
					h3 Инструкция
					a(href="#").btn.primary посмотреть

			.grid-item.small.order-5.js-open-descr(style="background-color: #F05638;")
				.grid-wrap.center-center
					h4(style="color: #FFFFFF;") Усиленное противовирусное действие
					button(type="button" style="color: #FFC80A; margin-bottom: 0;") ПОДРОБНЕЕ >
			
			.grid-item.small-long-y.order-6.js-open-descr(style="background-color: #448CDA;")
				.grid-item
					.grid-wrap.center-center
						h3(style="color: #FFFFFF;") Снижает выраженность симптомов простуды
						button(type="button" style="color: #FFC80A; margin: 0;") ПОДРОБНЕЕ >
				.grid-item
					.grid-wrap.center-center
						img(src="images/thermometer.png", alt="" style="width: 70%;")

			.grid-item.small-long-x.order-7.js-open-descr
				.grid-item(style="background-color: #88D4D6;")
					.grid-wrap.center-center
						img(src="images/hailer.png", alt="" style="width: 70%;")
					
				.grid-item(style="background-color: #88D4D6;")
					.grid-wrap.center-center
						h3 Рекомендуют специалисты
						button(type="button" style="margin: 0 auto") ПОДРОБНЕЕ >
			
			.grid-item.small-long-y.order-8.js-open-descr
				.grid-wrap.center-center(style="background-color: #F05638;")
					h3(style="color: #FFFFFF;") Усиленное противовирусное действие
					button(type="button" style="color: #FFC80A; margin: 0;") ПОДРОБНЕЕ >
			
			.grid-item.big.order-9
				.grid-wrap.start-end(style="background-image: url('images/family.jpg');")
					h2(style="color: #FFFFFF;") Защищает от развития осложнений
			
			.grid-item.small-long-y.order-10.js-open-descr
				.grid-item(style="background-color: #8F76BC;")
					.grid-wrap.center-center
						img(src="images/dummy.png", alt="" style="width: 70%;")
				.grid-item(style="background-color: #8F76BC;")
					.grid-wrap.center-center
						h3(style="color: #FFFFFF;") Подходит для детей с 6 месяцев
						button(type="button" style="margin: 0 auto;") ПОДРОБНЕЕ >

			.grid-item.small-long-y.order-11.js-open-descr
				.grid-item(style="background-color: #F5F5F5;")
					.grid-wrap.center-center
						h3 Выгодное решение!
						p Одной упаковки хватает на полный курс лечения
				.grid-item(style="background-color: #F5F5F5;")
					.grid-wrap.center-center
						img(src="images/pig.png", alt="" style="width: 70%;")

			.grid-item.small.order-12.js-open-descr(style="background-color: #F5F5F5;")
				.grid-wrap.center-center
					.grid-half.center-center
						img(src="images/shield.png", alt="" style="width: 55% !important;")
					.grid-half.center-center
						h4 Благоприятный профиль безопасности
						button(type="button" style="color: #57B9BB;") ПОДРОБНЕЕ >

			.grid-item.small.order-13.js-open-descr
				.grid-item(style="background-color: #88D4D6;")
					.grid-wrap.center-center
						h3 Рекомендуют специалисты
						button(type="button" style="margin: 0 auto") ПОДРОБНЕЕ >

block footer
	include ../blocks/footer/footer
