build/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="wrapper">
      <header class="header">
        <div class="container"><a class="logo" href="index.html"><img src="images/logo.svg" alt="logo"></a><a class="buy-btn" href="#"></a>
          <div class="burger-menu js-nav">
            <nav class="nav">
              <ul class="nav__list">
                <li class="nav__item"><a class="nav__link active" href="instruction.html">Инструкция</a></li>
                <li class="nav__item"><a class="nav__link" href="articles.html">Статьи</a></li>
                <li class="nav__item"><a class="nav__link" href="about.html">про Эргоферон</a></li>
                <li class="nav__item"><span class="nav__link js-open-accept">Специалистам</span></li>
              </ul>
            </nav><a class="btn primary" href="#">Купить</a>
          </div>
          <div class="burger js-burger"><span></span><span></span><span></span></div>
        </div>
      </header>
      <main class="main"> 
        <div class="grid-main">
          <div class="grid-item big order-md-1">
            <div class="grid-wrap start-start" style="background-image: url('images/grid2.jpg')">
              <h2 style="color: #FFFFFF;">Грипп? ОРВИ? Сезон? Эргоферон!</h2>
              <div class="abs-img"><img src="images/intro2.png" alt="" style="width: 70%; display: block; margin: 0 auto;"></div>
            </div>
          </div>
          <div class="grid-item small order-md-2 js-open-descr disabled-hover" style="background-color: #FFC80A;">
            <div class="grid-wrap center-center">
              <div class="grid-half center-center"><img src="images/house.png" alt="" style="width: 70%;"></div>
              <div class="grid-half center-center">
                <h4>Подходит для всей семьи</h4>
                <button class="bottom-line" type="button">ПОДРОБНЕЕ ></button>
              </div>
            </div>
            <div class="modal modal_descr js-descr-modal scroll-wrap">
              <div class="modal__wrap">
                <button class="modal__close js-close-modal" type="button"></button>
                <h3 class="modal__accept-title">Усиленное противовирусное действие</h3>
                <p class="modal__text"><span>Эргоферон® </span>активирует важнейшие механизмы иммунной защиты:</p>
                <div class="modal__info-wrap">
                  <div class="drug">
                    <div class="drug__wrap">
                      <div class="drug__img"><img src="images/v1.png" alt=""></div><span class="drug__title">Т-лимфоциты</span>
                      <p class="drug__text">отвечают за узнавание чужеродных агентов (вирусы, бактерии)</p>
                    </div>
                  </div>
                  <div class="drug">
                    <div class="drug__wrap">
                      <div class="drug__img"><img src="images/v2.png" alt=""></div><span class="drug__title">Интерфероны</span>
                      <p class="drug__text">защищают клетки от вирусов</p>
                    </div>
                  </div>
                </div>
                <p class="modal__text">Спектр виновников острых респираторных инфекций, с которыми помогает бороться Эргоферон, довольно широк: вирусы гриппа А и B, парагрипп, аденовирусы, респираторно-синцитиальные вирусы и другие вирусы(*). </p>
                <P class="modal__descr">* Мустафаев Д.М. Актуальные вопросы лечения острых респираторных вирусных инфекций. Клиницист 2013; 3-4: 109-116.</P>
              </div>
            </div>
          </div>
          <div class="grid-item small small-long order-md-5 js-open-descr" style="background-color: #448CDA;">
            <div class="grid-wrap mob-row">
              <div class="grid-half center-center">
                <h4 style="color: #FFFFFF;">Снижает выраженность симптомов простуды</h4>
                <button type="button" style="color: #FFC80A; margin: 0;">ПОДРОБНЕЕ ></button>
              </div>
              <div class="grid-half center-center"><img src="images/thermometer.png" alt="" style="width: 70%;"></div>
            </div>
            <div class="modal modal_descr js-descr-modal scroll-wrap">
              <div class="modal__wrap">
                <button class="modal__close js-close-modal" type="button"></button>
                <h3 class="modal__accept-title">Уменьшает отек и насморк</h3>
                <div class="modal__img"><img src="images/b11.png" alt=""></div>
                <p class="modal__text"><span>Эргоферон® </span>воздействует на гистаминовые рецепторы. При применении препарата значительно снижается проницаемость капилляров слизистой оболочки носовой полости, а, значит, сокращается и количество отделяемого из носа.</p>
                <p class="modal__text">3 дня — Средняя продолжительность насморка и заложенности носа на фоне лечения препаратом <span>Эргоферон®</span>, даже у пациентов с аллергией.</p>
                <p class="modal__descr">Геппе Н.А. и соавт. Терапия. 2017;8(18):63-78</p>
              </div>
            </div>
          </div>
          <div class="grid-item small order-md-3" style="background-color: #F5F5F5;">
            <div class="grid-wrap center-center">
              <h3>Инструкция</h3><a class="btn primary" href="#">посмотреть</a>
            </div>
          </div>
          <div class="grid-item small small-long order-md-4 js-open-descr" style="background-color: #F05638;">
            <div class="grid-wrap center-center">
              <h4 style="color: #FFFFFF;">Усиленное противовирусное действие</h4>
              <button type="button" style="color: #FFC80A; margin-bottom: 0;">ПОДРОБНЕЕ ></button>
            </div>
            <div class="modal modal_descr js-descr-modal scroll-wrap">
              <div class="modal__wrap">
                <button class="modal__close js-close-modal" type="button"></button>
                <h3 class="modal__accept-title">Усиленное противовирусное действие</h3>
                <p class="modal__text"><span>Эргоферон® </span>активирует важнейшие механизмы иммунной защиты:</p>
              </div>
            </div>
          </div>
          <div class="grid-item small-long-y order-md-6 order-6 js-open-descr">
            <div class="grid-item" style="background-color: #FFC80A;">
              <div class="grid-wrap center-center"><img src="images/like.png" alt="" style="width: 70%;"></div>
            </div>
            <div class="grid-item" style="background-color: #FFC80A;">
              <div class="grid-wrap center-center">
                <h3>Народная марка №1. </h3>
                <p>Выбор  потребителей!</p>
                <button type="button" style="margin-bottom: 0;">ПОДРОБНЕЕ ></button>
              </div>
            </div>
          </div>
          <div class="grid-item small-long-y order-md-7 order-7 js-open-descr">
            <div class="grid-item" style="background-color: #F05638;">
              <div class="grid-wrap center-center">
                <h3 style="color: #FFFFFF;">Укрепляет иммунитет </h3>
                <button type="button" style="color: #FFC80A; margin: 0;">ПОДРОБНЕЕ ></button>
              </div>
            </div>
            <div class="grid-item" style="background-color: #F05638;">
              <div class="grid-wrap center-bottom" style="padding-bottom: 0;"><img src="images/knight.png" alt=""></div>
            </div>
          </div>
          <div class="grid-item small-long-x order-md-10 order-8 js-open-descr">
            <div class="grid-item" style="background-color: #88D4D6;">
              <div class="grid-wrap center-center"><img src="images/hailer.png" alt="" style="width: 70%; display: block;"></div>
            </div>
            <div class="grid-item" style="background-color: #88D4D6;">
              <div class="grid-wrap center-center">
                <h3>Рекомендуют специалисты</h3>
                <button type="button" style="margin: 0 auto">ПОДРОБНЕЕ ></button>
              </div>
            </div>
          </div>
          <div class="grid-item big order-md-15 order-10">
            <div class="grid-wrap start-end" style="background-image: url('images/family.jpg');">
              <h2 style="color: #FFFFFF;">Защищает от развития осложнений</h2>
            </div>
          </div>
          <div class="grid-item small-long-x order-md-13 order-13 js-open-descr">
            <div class="grid-item order-2 order-lg-1" style="background-color: #8F76BC;">
              <div class="grid-wrap center-center"><img src="images/dummy.png" alt="" style="width: 70%; display: block;"></div>
            </div>
            <div class="grid-item order-1 order-lg-2" style="background-color: #8F76BC;">
              <div class="grid-wrap center-center">
                <h3 style="color: #FFFFFF;">Подходит для детей с 6 месяцев</h3>
                <button type="button" style="margin: 0 auto;">ПОДРОБНЕЕ ></button>
              </div>
            </div>
          </div>
          <div class="grid-item small-long-x order-md-16 order-14">
            <div class="grid-item" style="background-color: #F5F5F5;">
              <div class="grid-wrap start-center">
                <h4>Выгодное решение!</h4>
                <p>Одной упаковки хватает на полный курс лечения</p>
              </div>
            </div>
            <div class="grid-item" style="background-color: #F5F5F5;">
              <div class="grid-wrap center-center"><img src="images/pig.png" alt="" style="width: 80%;"></div>
            </div>
          </div>
          <div class="grid-item small-long-x small order-md-18 order-16 js-open-descr">
            <div class="grid-item" style="background-color: #88D4D6;">
              <div class="grid-wrap center-center"><img src="images/shield.png" alt="" style="width: 70%;"></div>
            </div>
            <div class="grid-item" style="background-color: #F5F5F5;">
              <div class="grid-wrap center-center">
                <h4>Благоприятный профиль безопасности</h4>
                <button type="button" style="color: #57B9BB; margin: 0 auto;">ПОДРОБНЕЕ ></button>
              </div>
            </div>
          </div>
        </div>
        <section class="scheme-section">
          <div class="container">
            <h2 class="section-title">Схема приема</h2>
            <h3 class="scheme-subtitle">Средняя продолжительность курса составляет 5 дней</h3>
            <div class="scheme-img"><img src="images/scheme-img.svg" alt=""></div>
            <div class="scheme-wrap">
              <div class="scheme">
                <div class="scheme__wrap"><span class="scheme__title">первые сутки</span><span class="scheme__subtitle">5</span><span class="scheme__text">таблеток<br>в первые 2 часа</span>
                  <p class="scheme__subtext">Каждые 30 минут</p>
                </div>
              </div>
              <div class="scheme">
                <div class="scheme__wrap"><span class="scheme__title">первые сутки</span><span class="scheme__subtitle">3</span><span class="scheme__text">таблеток<br>в первые 2 часа</span>
                  <p class="scheme__subtext">Через равные промежутки времени</p>
                </div>
              </div>
              <div class="scheme">
                <div class="scheme__wrap"><span class="scheme__title">со 2-го дня до выздоровления</span><span class="scheme__subtitle">3</span><span class="scheme__text">таблетки<br>в сутки</span>
                  <p class="scheme__subtext">Утром, днем и вечером</p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="instruct-section">
          <div class="container">
            <div class="instruct" style="background-color: #F8F9FB;">
              <div class="instruct__img"><img src="images/tablet.svg" alt=""></div>
              <div class="instruct__content">
                <h3 class="instruct__title">На один прием — 1 таблетка</h3>
                <p class="instruct__text">Таблетку следует держать во рту, не проглатывая, до полного растворения</p>
              </div>
            </div>
            <div class="instruct" style="background-color: #8F76BC;">
              <div class="instruct__img"><img src="images/spoon.png" alt=""></div>
              <div class="instruct__content">
                <h3 class="instruct__title" style="color: #FFFFFF;">Для детей младшего возраста</h3>
                <p class="instruct__text" style="color: #FFFFFF;">Детям от 6 месяцев до 3 лет рекомендуется растворять таблетку в небольшом количестве (1 столовая ложка) кипяченой воды комнатной температуры</p>
              </div>
            </div>
          </div>
        </section>
        <section class="order-section">
          <div class="container">
            <h2 class="main-title">Заказать в интернет-аптеках</h2>
            <div class="order-wrap">
              <div class="order">
                <div class="order__wrap"><a class="order__img" href="#"><img src="images/a2.png" alt=""></a><a class="btn primary" href="#">Купить</a></div>
              </div>
              <div class="order">
                <div class="order__wrap"><a class="order__img" href="#"><img src="images/a1.png" alt=""></a><a class="btn primary" href="#">Купить</a></div>
              </div>
              <div class="order">
                <div class="order__wrap"><a class="order__img" href="#"><img src="images/a3.png" alt=""></a><a class="btn primary" href="#">Найти на карте</a></div>
              </div>
            </div>
            <div class="btn-wrap">
              <button class="order-btn" type="button">СМОТРЕТЬ ЕЩЁ</button>
            </div>
          </div>
        </section>
        <section class="articles-section">
          <div class="container">
            <h2 class="main-title">Интересно</h2>
            <div class="articles-wrap"><a class="article" href="articles.html">
                <div class="article__wrap">
                  <div class="article__img" style="background-image: url('images/art1.jpg')"></div>
                  <div class="article__info">
                    <h2 class="article__name">Особенности осеннего гриппа</h2><span class="article__date">20 июня 2020</span>
                  </div>
                </div></a><a class="article" href="articles.html">
                <div class="article__wrap">
                  <div class="article__img" style="background-image: url('images/art1.jpg')"></div>
                  <div class="article__info">
                    <h2 class="article__name">Лечение гриппа у детей</h2><span class="article__date">20 июня 2020</span>
                  </div>
                </div></a><a class="article" href="articles.html">
                <div class="article__wrap">
                  <div class="article__img" style="background-image: url('images/art1.jpg')"></div>
                  <div class="article__info">
                    <h2 class="article__name">Лечение гриппа у детей</h2><span class="article__date">20 июня 2020</span>
                  </div>
                </div></a></div>
            <div class="btn-wrap"><a class="btn secondary" href="articles.html">все статьи</a></div>
          </div>
        </section>
        <section class="about-section">
          <div class="container">
            <div class="description-content">
              <div class="description-info">
                <h2 class="main-title">О компании</h2>
                <p class="about-text">Фармацевтическая компания «Материа Медика Холдинг» входит в ТОП-5 российских производителей на рынке ОТС России.   ООО «НПФ «Материа Медика Холдинг» выпускает и продает более 20 брендов. За разработку новых классов препаратов компания отмечена премией Правительства Российской Федерации.  Исследования препаратов в соответствии с требованиями GLP (Good Laboratory Practice – надлежащая/добросовестная лабораторная практика) и GCP (Good Clinical Practice — надлежащая/добросовестная клиническая практика) гарантируют высокий профиль безопасности продукции. В 2019г. по данным Synergy Research Group «Материа Медика Холдинг» занимает четвертое место по числу одобренных клинических исследований, а по числу включенных пациентов (около 1,5 тыс) компании принадлежит первое место среди российских и второе среди российских и зарубежных компаний, проводящих клинические исследования в РФ. Производственные мощности «Материа Медика Холдинг» сертифицированы на соответствие стандартам GMP. Продукция компании зарегистрирована и успешно продается не только в России и странах СНГ, но и в ряде зарубежных стран.</p><a class="btn secondary" href="#">подробнее</a>
              </div>
              <div class="award-wrap">
                <div class="award">
                  <div class="award__img"><img src="images/award1.png" alt=""></div>
                  <p class="award__info">Лауреат премии Правительства Российской Федерации в области науки и техники*</p>
                </div>
                <div class="award">
                  <div class="award__img"><img src="images/award2.png" alt=""></div>
                  <p class="award__info">Лауреат XVIII всероссийского конкурса «‎Платиновая унция»‎**</p>
                </div>
              </div>
            </div>
            <div class="decree-wrap">
              <p class="decree">*Постановление Правительства Российской Федерации от 20 февраля 2006 г. N 96Е</p>
              <p class="decree">**В номинации "За разработку и внедрение в медицинскую практику инновационных лекарственных препаратов"</p>
            </div>
          </div>
        </section>
      </main>
      <footer class="footer">
        <div class="container">
          <div class="footer-nav"><a class="logo" href="#"><img src="images/logo.svg" alt="logo"></a>
            <div class="footer-content">
              <nav class="nav"> <span class="nav__title">МЕНЮ</span>
                <ul class="nav__list">
                  <li class="nav__item"><a class="nav__link" href="#">Инструкция</a></li>
                  <li class="nav__item"><a class="nav__link" href="#">Статьи</a></li>
                  <li class="nav__item"><a class="nav__link" href="#">Об эргоферон</a></li>
                  <li class="nav__item"><a class="nav__link" href="#">Специалистам</a></li>
                </ul>
              </nav>
              <nav class="nav"><span class="nav__title">Горячая линия</span>
                <ul class="nav__list">
                  <li class="nav__item"><a class="nav__link" href="#">+7 (495) 681-09-30</a></li>
                  <li class="nav__item"><a class="nav__link" href="#">+7 (495) 681-93-00</a></li>
                </ul>
              </nav>
              <button class="btn primary js-open-form" type="button">ЗАДАТЬ ВОПРОС</button>
            </div>
          </div>
          <div class="footer-info">
            <p class="copyright">© 2020 Все права защищены. ООО «НПФ «Материа Медика Холдинг» 129272, Москва, ул. Трифоновская, д. 47 , стр. 1, +7 (495) 276-15-71</p><a class="footer-logo" href="#"><img src="images/logo2.svg" alt=""></a>
          </div>
        </div>
        <div class="footer-instruction"> 
          <div class="container">
            <p class="instruction">ИМЕЮТСЯ ПРОТИВОПОКАЗАНИЯ. ПЕРЕД ПРИМЕНЕНИЕМ ОЗНАКОМЬТЕСЬ С <a href="#">ИНСТРУКЦИЕЙ</a></p>
          </div>
        </div>
      </footer>
      <div class="mask js-mask"></div>
      <div class="mask js-video-mask"></div>
      <div class="modal js-accept-modal scroll-wrap">
        <div class="modal__wrap">
          <button class="modal__close js-close-modal" type="button"></button>
          <h3 class="modal__accept-title">Являетесь ли вы специалистом здравоохранения?</h3>
          <div class="modal__nav"><a class="modal__btn" href="specialists.html">да</a>
            <button class="modal__btn js-close-modal" type="button">нет</button>
          </div>
        </div>
      </div>
      <div class="modal modal_descr js-form-modal scroll-wrap" id="popup_query">
        <div class="modal__wrap">
          <button class="modal__close js-close-modal" type="button"></button>
          <h3 class="section-title">Задать вопрос</h3>
          <form class="form" action="#">
            <div class="form__wrap">
              <label>Имя</label>
              <input type="text" id="feedback_name">
              <label>E-mail</label>
              <input type="email" id="feedback_email">
              <label>Вопрос</label>
              <textarea type="text" id="feedback_message"></textarea>
              <label>Код с картинки</label>
              <div class="form__code-wrap">
                <input class="form__number" type="number" id="feedback_captcha">
                <button class="form__reload-btn" type="button"></button>
                <input type="number" name="feedback_captcha" maxlength="5">
              </div>
              <button class="btn primary js-valid" type="submit">отправить</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="js/libs/libs.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>

app/pages/index.pug
extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main 
		.grid-main
			.grid-item.big.order-md-1
				.grid-wrap.start-start(style="background-image: url('images/grid2.jpg')")
					h2(style="color: #FFFFFF;") Грипп? ОРВИ? Сезон? Эргоферон!
					.abs-img
						img(src="images/intro2.png", alt="" style="width: 70%; display: block; margin: 0 auto;")

			.grid-item.small.order-md-2.js-open-descr.disabled-hover(style="background-color: #FFC80A;")
				.grid-wrap.center-center
					.grid-half.center-center
						img(src="images/house.png", alt="" style="width: 70%;")
					.grid-half.center-center
						h4 Подходит для всей семьи
						button(type="button").bottom-line ПОДРОБНЕЕ >
				.modal.modal_descr.js-descr-modal.scroll-wrap
					.modal__wrap
						button(type="button").modal__close.js-close-modal
						h3.modal__accept-title Усиленное противовирусное действие
						p.modal__text
							span Эргоферон® 
							| активирует важнейшие механизмы иммунной защиты:
						.modal__info-wrap
							.drug
								.drug__wrap
									.drug__img
										img(src="images/v1.png", alt="")
									span.drug__title Т-лимфоциты
									p.drug__text отвечают за узнавание чужеродных агентов (вирусы, бактерии)
							.drug
								.drug__wrap
									.drug__img
										img(src="images/v2.png", alt="")
									span.drug__title Интерфероны
									p.drug__text защищают клетки от вирусов
						p.modal__text Спектр виновников острых респираторных инфекций, с которыми помогает бороться Эргоферон, довольно широк: вирусы гриппа А и B, парагрипп, аденовирусы, респираторно-синцитиальные вирусы и другие вирусы(*). 
						P.modal__descr * Мустафаев Д.М. Актуальные вопросы лечения острых респираторных вирусных инфекций. Клиницист 2013; 3-4: 109-116.
			
			.grid-item.small.small-long.order-md-5.js-open-descr(style="background-color: #448CDA;")
				.grid-wrap.mob-row
					.grid-half.center-center
						h4(style="color: #FFFFFF;") Снижает выраженность симптомов простуды
						button(type="button" style="color: #FFC80A; margin: 0;") ПОДРОБНЕЕ >
					.grid-half.center-center
						img(src="images/thermometer.png", alt="" style="width: 70%;")
				.modal.modal_descr.js-descr-modal.scroll-wrap
					.modal__wrap
						button(type="button").modal__close.js-close-modal
						h3.modal__accept-title Уменьшает отек и насморк
						.modal__img
							img(src="images/b11.png", alt="")
						p.modal__text
							span Эргоферон® 
							| воздействует на гистаминовые рецепторы. При применении препарата значительно снижается проницаемость капилляров слизистой оболочки носовой полости, а, значит, сокращается и количество отделяемого из носа.
						p.modal__text 3 дня — Средняя продолжительность насморка и заложенности носа на фоне лечения препаратом 
							span Эргоферон®
							| , даже у пациентов с аллергией.
						p.modal__descr Геппе Н.А. и соавт. Терапия. 2017;8(18):63-78
			
			.grid-item.small.order-md-3(style="background-color: #F5F5F5;")
				.grid-wrap.center-center
					h3 Инструкция
					a(href="#").btn.primary посмотреть
			
			.grid-item.small.small-long.order-md-4.js-open-descr(style="background-color: #F05638;")
				.grid-wrap.center-center
					h4(style="color: #FFFFFF;") Усиленное противовирусное действие
					button(type="button" style="color: #FFC80A; margin-bottom: 0;") ПОДРОБНЕЕ >
				.modal.modal_descr.js-descr-modal.scroll-wrap
					.modal__wrap
						button(type="button").modal__close.js-close-modal
						h3.modal__accept-title Усиленное противовирусное действие
						p.modal__text
							span Эргоферон® 
							| активирует важнейшие механизмы иммунной защиты:

			.grid-item.small-long-y.order-md-6.order-6.js-open-descr
				.grid-item(style="background-color: #FFC80A;")
					.grid-wrap.center-center
						img(src="images/like.png", alt="" style="width: 70%;")

				.grid-item(style="background-color: #FFC80A;")
					.grid-wrap.center-center
						h3 Народная марка №1. 
						p Выбор  потребителей!
						button(type="button" style="margin-bottom: 0;") ПОДРОБНЕЕ >
			
			.grid-item.small-long-y.order-md-7.order-7.js-open-descr
				.grid-item(style="background-color: #F05638;")
					.grid-wrap.center-center
						h3(style="color: #FFFFFF;") Укрепляет иммунитет 
						button(type="button" style="color: #FFC80A; margin: 0;") ПОДРОБНЕЕ >

				.grid-item(style="background-color: #F05638;")
					.grid-wrap.center-bottom(style="padding-bottom: 0;")
						img(src="images/knight.png", alt="")
			
			.grid-item.small-long-x.order-md-10.order-8.js-open-descr
				.grid-item(style="background-color: #88D4D6;")
					.grid-wrap.center-center
						img(src="images/hailer.png", alt="" style="width: 70%; display: block;")
					
				.grid-item(style="background-color: #88D4D6;")
					.grid-wrap.center-center
						h3 Рекомендуют специалисты
						button(type="button" style="margin: 0 auto") ПОДРОБНЕЕ >
			
			.grid-item.big.order-md-15.order-10
				.grid-wrap.start-end(style="background-image: url('images/family.jpg');")
					h2(style="color: #FFFFFF;") Защищает от развития осложнений
			
			.grid-item.small-long-x.order-md-13.order-13.js-open-descr
				.grid-item.order-2.order-lg-1(style="background-color: #8F76BC;")
					.grid-wrap.center-center
						img(src="images/dummy.png", alt="" style="width: 70%; display: block;")
				.grid-item.order-1.order-lg-2(style="background-color: #8F76BC;")
					.grid-wrap.center-center
						h3(style="color: #FFFFFF;") Подходит для детей с 6 месяцев
						button(type="button" style="margin: 0 auto;") ПОДРОБНЕЕ >
			
			.grid-item.small-long-x.order-md-16.order-14
				.grid-item(style="background-color: #F5F5F5;")
					.grid-wrap.start-center
						h4 Выгодное решение!
						p Одной упаковки хватает на полный курс лечения

				.grid-item(style="background-color: #F5F5F5;")
					.grid-wrap.center-center
						img(src="images/pig.png", alt="" style="width: 80%;")

			.grid-item.small-long-x.small.order-md-18.order-16.js-open-descr
				.grid-item(style="background-color: #88D4D6;")
					.grid-wrap.center-center
						img(src="images/shield.png", alt="" style="width: 70%;")

				.grid-item(style="background-color: #F5F5F5;")
					.grid-wrap.center-center
						h4 Благоприятный профиль безопасности
						button(type="button" style="color: #57B9BB; margin: 0 auto;") ПОДРОБНЕЕ >
			
		include ../blocks/section-scheme/section-scheme
		include ../blocks/section-instruction/section-instruction
		include ../blocks/section-order/order
		include ../blocks/section-articles/articles
		include ../blocks/section-about/about

block footer
	include ../blocks/footer/footer
