build/instruction.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="wrapper">
      <header class="header">
        <div class="container"><a class="logo" href="index.html"><img src="images/logo.svg" alt="logo"></a><a class="buy-btn" href="#"></a>
          <div class="burger-menu js-nav">
            <nav class="nav">
              <ul class="nav__list">
                <li class="nav__item"><a class="nav__link active" href="instruction.html">Инструкция</a></li>
                <li class="nav__item"><a class="nav__link" href="articles.html">Статьи</a></li>
                <li class="nav__item"><a class="nav__link" href="about.html">про Эргоферон</a></li>
                <li class="nav__item"><span class="nav__link js-open-accept">Специалистам</span></li>
              </ul>
            </nav><a class="btn primary" href="#">Купить</a>
          </div>
          <div class="burger js-burger"><span></span><span></span><span></span></div>
        </div>
      </header>
      <main class="main">
        <section class="tabs-section">
          <div class="container">
            <h2 class="instruction-title">Инструкция<br>по медицинскому применению препарата</h2>
            <h1 class="drug-name">Эргоферон <span>®</span></h1>
            <div class="instruction-text">Препарат Эргоферон выпускается в удобной лекарственной форме — таблетки для рассасывания или раствор для приема внутрь.</div>
            <div class="tabs js-tabs">
              <ul class="tabs__list js-tab-btn">
                <li class="tabs__item active">Таблетки</li>
                <li class="tabs__item">Раствор</li>
              </ul>
              <div class="tabs__content js-tab-content active">
                <p class="tabs__content-text"> <span>Эргоферон</span>обладает несколькими лечебными эффектами. Первое, самое важное —  противовирусное действие. Второй не менее важный эффект препарата — иммуномодулирующий. Средство мобилизует защитные силы организма для более слаженной и быстрой борьбы с инфекцией, в том числе за счет активного распознавания возбудителя и адекватного иммунного ответа на его вторжение.</p>
                <p class="tabs__content-text">Благодаря противовоспалительному и антигистаминному эффектам <span>Эргоферон</span>способствует уменьшению выраженности и продолжительности отека слизистых оболочек, бронхоспазма и кашля.</p>
                <p class="tabs__content-text">Может применяться для лечения гриппа и ОРВИ у всех членов семьи — взрослых и детей начиная с 6-месячного возраста.</p>
                <div class="accordion">
                  <div class="accordion__item">
                    <h3>Лекарственная форма, состав, описание</h3>
                    <div class="accordion__content">
                      <h4>Торговое название</h4>
                      <p>Эргоферон®</p>
                      <h4>Лекарственная форма</h4>
                      <p>Раствор для приема внутрь.</p>
                      <h4>Состав (на 100 мл) раствора для приема внутрь</h4>
                      <ul>
                        <li>Действующие вещества:</li>
                        <li>Антитела к гамма интерферону человека аффинно очищенные 0,12 г*</li>
                        <li>Антитела к гистамину аффинно очищенные 0,12 г*</li>
                        <li>Антитела к CD4 аффинно очищенные 0,12 г*</li>
                      </ul>
                      <p>* вводятся в виде смеси трех активных водных разведений субстанции, разведенной соответственно в 10012, 10030, 10050  раз. Вспомогательные вещества: мальтитол 6,0 г, глицерол 3,0 г, сорбат калия 0,165 г, лимонная кислота безводная 0,02 г, вода очищенная до 100 мл.</p>
                      <h4>Описание</h4>
                      <p>Бесцветная или почти бесцветная прозрачная жидкость.</p>
                    </div>
                  </div>
                  <div class="accordion__item">
                    <h3>Фармакологические свойства</h3>
                    <div class="accordion__content">
                      <h4>1</h4>
                      <p>1</p>
                    </div>
                  </div>
                  <div class="accordion__item">
                    <h3>Показания к применению</h3>
                    <div class="accordion__content">
                      <h4>2</h4>
                      <p>2</p>
                    </div>
                  </div>
                  <div class="accordion__item">
                    <h3>Противопоказания</h3>
                    <div class="accordion__content">
                      <h4>2</h4>
                      <p>2</p>
                    </div>
                  </div>
                  <div class="accordion__item">
                    <h3>Способ применения и дозы</h3>
                    <div class="accordion__content">
                      <h4>2</h4>
                      <p>2</p>
                    </div>
                  </div>
                  <div class="accordion__item">
                    <h3>Побочное действие</h3>
                    <div class="accordion__content">
                      <h4>2</h4>
                      <p>2</p>
                    </div>
                  </div>
                  <div class="accordion__item">
                    <h3>Передозировка</h3>
                    <div class="accordion__content">
                      <h4>2</h4>
                      <p>2</p>
                    </div>
                  </div>
                  <div class="accordion__item">
                    <h3>Лекарственное взаимодействие</h3>
                    <div class="accordion__content">
                      <h4>2</h4>
                      <p>2</p>
                    </div>
                  </div>
                  <div class="accordion__item">
                    <h3>Особые указания</h3>
                    <div class="accordion__content">
                      <h4>2</h4>
                      <p>2</p>
                    </div>
                  </div>
                  <div class="accordion__item">
                    <h3>Форма выпуска и упаковка</h3>
                    <div class="accordion__content">
                      <h4>2</h4>
                      <p>2</p>
                    </div>
                  </div>
                  <div class="accordion__item">
                    <h3>Условия хранения </h3>
                    <div class="accordion__content">
                      <h4>2</h4>
                      <p>2</p>
                    </div>
                  </div>
                  <div class="accordion__item">
                    <h3>Срок годности</h3>
                    <div class="accordion__content">
                      <h4>2</h4>
                      <p>2</p>
                    </div>
                  </div>
                  <div class="accordion__item">
                    <h3>Условия отпуска из аптек </h3>
                    <div class="accordion__content">
                      <h4>2</h4>
                      <p>2</p>
                    </div>
                  </div>
                  <div class="accordion__item">
                    <h3>Адрес для обращений</h3>
                    <div class="accordion__content">
                      <h4>2</h4>
                      <p>2</p>
                    </div>
                  </div>
                  <div class="accordion__item">
                    <h3>Адрес производства</h3>
                    <div class="accordion__content">
                      <h4>2</h4>
                      <p>2</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tabs__content js-tab-content">
                <p class="tabs__content-text"> <span>Эргоферон</span>обладает несколькими лечебными эффектами. Первое, самое важное —  противовирусное действие. Второй не менее важный эффект препарата — иммуномодулирующий. Средство мобилизует защитные силы организма для более слаженной и быстрой борьбы с инфекцией, в том числе за счет активного распознавания возбудителя и адекватного иммунного ответа на его вторжение.</p>
                <p class="tabs__content-text">Благодаря противовоспалительному и антигистаминному эффектам <span>Эргоферон</span>способствует уменьшению выраженности и продолжительности отека слизистых оболочек, бронхоспазма и кашля.</p>
                <p class="tabs__content-text">Может применяться для лечения гриппа и ОРВИ у всех членов семьи — взрослых и детей начиная с 6-месячного возраста.</p>
                <div class="accordion">
                  <div class="accordion__item">
                    <h3>Лекарственная форма, состав, описание</h3>
                    <div class="accordion__content">
                      <h4>Торговое название</h4>
                      <p>Эргоферон®</p>
                      <h4>Лекарственная форма</h4>
                      <p>Раствор для приема внутрь.</p>
                      <h4>Состав (на 100 мл) раствора для приема внутрь</h4>
                      <p>Действующие вещества:</p>
                      <p>Антитела к гамма интерферону человека аффинно очищенные 0,12 г*</p>
                      <p>Антитела к гистамину аффинно очищенные 0,12 г*</p>
                      <p>Антитела к CD4 аффинно очищенные 0,12 г*</p>
                      <p>* вводятся в виде смеси трех активных водных разведений субстанции, разведенной соответственно в 10012, 10030, 10050  раз. Вспомогательные вещества: мальтитол 6,0 г, глицерол 3,0 г, сорбат калия 0,165 г, лимонная кислота безводная 0,02 г, вода очищенная до 100 мл.</p>
                      <h4>Описание</h4>
                      <p>Бесцветная или почти бесцветная прозрачная жидкость.</p>
                    </div>
                  </div>
                  <div class="accordion__item">
                    <h3>Фармакологические свойства</h3>
                    <div class="accordion__content">
                      <h4>1</h4>
                      <p>1</p>
                    </div>
                  </div>
                  <div class="accordion__item">
                    <h3>Показания к применению</h3>
                    <div class="accordion__content">
                      <h4>2</h4>
                      <p>2</p>
                    </div>
                  </div>
                  <div class="accordion__item">
                    <h3>Противопоказания</h3>
                    <div class="accordion__content">
                      <h4>2</h4>
                      <p>2</p>
                    </div>
                  </div>
                  <div class="accordion__item">
                    <h3>Способ применения и дозы</h3>
                    <div class="accordion__content">
                      <h4>2</h4>
                      <p>2</p>
                    </div>
                  </div>
                  <div class="accordion__item">
                    <h3>Побочное действие</h3>
                    <div class="accordion__content">
                      <h4>2</h4>
                      <p>2</p>
                    </div>
                  </div>
                  <div class="accordion__item">
                    <h3>Передозировка</h3>
                    <div class="accordion__content">
                      <h4>2</h4>
                      <p>2</p>
                    </div>
                  </div>
                  <div class="accordion__item">
                    <h3>Лекарственное взаимодействие</h3>
                    <div class="accordion__content">
                      <h4>2</h4>
                      <p>2</p>
                    </div>
                  </div>
                  <div class="accordion__item">
                    <h3>Особые указания</h3>
                    <div class="accordion__content">
                      <h4>2</h4>
                      <p>2</p>
                    </div>
                  </div>
                  <div class="accordion__item">
                    <h3>Форма выпуска и упаковка</h3>
                    <div class="accordion__content">
                      <h4>2</h4>
                      <p>2</p>
                    </div>
                  </div>
                  <div class="accordion__item">
                    <h3>Условия хранения </h3>
                    <div class="accordion__content">
                      <h4>2</h4>
                      <p>2</p>
                    </div>
                  </div>
                  <div class="accordion__item">
                    <h3>Срок годности</h3>
                    <div class="accordion__content">
                      <h4>2</h4>
                      <p>2</p>
                    </div>
                  </div>
                  <div class="accordion__item">
                    <h3>Условия отпуска из аптек </h3>
                    <div class="accordion__content">
                      <h4>2</h4>
                      <p>2</p>
                    </div>
                  </div>
                  <div class="accordion__item">
                    <h3>Адрес для обращений</h3>
                    <div class="accordion__content">
                      <h4>2</h4>
                      <p>2</p>
                    </div>
                  </div>
                  <div class="accordion__item">
                    <h3>Адрес производства</h3>
                    <div class="accordion__content">
                      <h4>2</h4>
                      <p>2</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="btn-wrap"><a class="download-link" href="#" download>СКАЧАТЬ</a></div>
          </div>
        </section>
      </main>
      <footer class="footer">
        <div class="container">
          <div class="footer-nav"><a class="logo" href="#"><img src="images/logo.svg" alt="logo"></a>
            <div class="footer-content">
              <nav class="nav"> <span class="nav__title">МЕНЮ</span>
                <ul class="nav__list">
                  <li class="nav__item"><a class="nav__link" href="#">Инструкция</a></li>
                  <li class="nav__item"><a class="nav__link" href="#">Статьи</a></li>
                  <li class="nav__item"><a class="nav__link" href="#">Об эргоферон</a></li>
                  <li class="nav__item"><a class="nav__link" href="#">Специалистам</a></li>
                </ul>
              </nav>
              <nav class="nav"><span class="nav__title">Горячая линия</span>
                <ul class="nav__list">
                  <li class="nav__item"><a class="nav__link" href="#">+7 (495) 681-09-30</a></li>
                  <li class="nav__item"><a class="nav__link" href="#">+7 (495) 681-93-00</a></li>
                </ul>
              </nav>
              <button class="btn primary js-open-form" type="button">ЗАДАТЬ ВОПРОС</button>
            </div>
          </div>
          <div class="footer-info">
            <p class="copyright">© 2020 Все права защищены. ООО «НПФ «Материа Медика Холдинг» 129272, Москва, ул. Трифоновская, д. 47 , стр. 1, +7 (495) 276-15-71</p><a class="footer-logo" href="#"><img src="images/logo2.svg" alt=""></a>
          </div>
        </div>
        <div class="footer-instruction"> 
          <div class="container">
            <p class="instruction">ИМЕЮТСЯ ПРОТИВОПОКАЗАНИЯ. ПЕРЕД ПРИМЕНЕНИЕМ ОЗНАКОМЬТЕСЬ С <a href="#">ИНСТРУКЦИЕЙ</a></p>
          </div>
        </div>
      </footer>
      <div class="mask js-mask"></div>
      <div class="mask js-video-mask"></div>
      <div class="modal js-accept-modal scroll-wrap">
        <div class="modal__wrap">
          <button class="modal__close js-close-modal" type="button"></button>
          <h3 class="modal__accept-title">Являетесь ли вы специалистом здравоохранения?</h3>
          <div class="modal__nav"><a class="modal__btn" href="specialists.html">да</a>
            <button class="modal__btn js-close-modal" type="button">нет</button>
          </div>
        </div>
      </div>
      <div class="modal modal_descr js-form-modal scroll-wrap" id="popup_query">
        <div class="modal__wrap">
          <button class="modal__close js-close-modal" type="button"></button>
          <h3 class="section-title">Задать вопрос</h3>
          <form class="form" action="#">
            <div class="form__wrap">
              <label>Имя</label>
              <input type="text" id="feedback_name">
              <label>E-mail</label>
              <input type="email" id="feedback_email">
              <label>Вопрос</label>
              <textarea type="text" id="feedback_message"></textarea>
              <label>Код с картинки</label>
              <div class="form__code-wrap">
                <input class="form__number" type="number" id="feedback_captcha">
                <button class="form__reload-btn" type="button"></button>
                <input type="number" name="feedback_captcha" maxlength="5">
              </div>
              <button class="btn primary js-valid" type="submit">отправить</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="js/libs/libs.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>

app/pages/instruction.pug
extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main
		section.tabs-section
			.container
				h2.instruction-title Инструкция
					br
					| по медицинскому применению препарата

				h1.drug-name Эргоферон 
					span ®

				.instruction-text Препарат Эргоферон выпускается в удобной лекарственной форме — таблетки для рассасывания или раствор для приема внутрь.
				
				.tabs.js-tabs
					ul.tabs__list.js-tab-btn
						li.tabs__item.active Таблетки
						li.tabs__item Раствор

					.tabs__content.js-tab-content.active
						p.tabs__content-text 
							span Эргоферон
							| обладает несколькими лечебными эффектами. Первое, самое важное —  противовирусное действие. Второй не менее важный эффект препарата — иммуномодулирующий. Средство мобилизует защитные силы организма для более слаженной и быстрой борьбы с инфекцией, в том числе за счет активного распознавания возбудителя и адекватного иммунного ответа на его вторжение.
						p.tabs__content-text Благодаря противовоспалительному и антигистаминному эффектам 
							span Эргоферон
							| способствует уменьшению выраженности и продолжительности отека слизистых оболочек, бронхоспазма и кашля.
						p.tabs__content-text Может применяться для лечения гриппа и ОРВИ у всех членов семьи — взрослых и детей начиная с 6-месячного возраста.

						.accordion
							.accordion__item
								h3 Лекарственная форма, состав, описание
								.accordion__content
									h4 Торговое название
									p Эргоферон®
									h4 Лекарственная форма
									p Раствор для приема внутрь.
									h4 Состав (на 100 мл) раствора для приема внутрь
									ul
										li Действующие вещества:
										li Антитела к гамма интерферону человека аффинно очищенные 0,12 г*
										li Антитела к гистамину аффинно очищенные 0,12 г*
										li Антитела к CD4 аффинно очищенные 0,12 г*
									p * вводятся в виде смеси трех активных водных разведений субстанции, разведенной соответственно в 10012, 10030, 10050  раз. Вспомогательные вещества: мальтитол 6,0 г, глицерол 3,0 г, сорбат калия 0,165 г, лимонная кислота безводная 0,02 г, вода очищенная до 100 мл.
									h4 Описание
									p Бесцветная или почти бесцветная прозрачная жидкость.
							.accordion__item
								h3 Фармакологические свойства
								.accordion__content
									h4 1
									p 1
							.accordion__item
								h3 Показания к применению
								.accordion__content
									h4 2
									p 2
							.accordion__item
								h3 Противопоказания
								.accordion__content
									h4 2
									p 2
							.accordion__item
								h3 Способ применения и дозы
								.accordion__content
									h4 2
									p 2
							.accordion__item
								h3 Побочное действие
								.accordion__content
									h4 2
									p 2
							.accordion__item
								h3 Передозировка
								.accordion__content
									h4 2
									p 2
							.accordion__item
								h3 Лекарственное взаимодействие
								.accordion__content
									h4 2
									p 2
							.accordion__item
								h3 Особые указания
								.accordion__content
									h4 2
									p 2
							.accordion__item
								h3 Форма выпуска и упаковка
								.accordion__content
									h4 2
									p 2
							.accordion__item
								h3 Условия хранения 
								.accordion__content
									h4 2
									p 2
							.accordion__item
								h3 Срок годности
								.accordion__content
									h4 2
									p 2
							.accordion__item
								h3 Условия отпуска из аптек 
								.accordion__content
									h4 2
									p 2
							.accordion__item
								h3 Адрес для обращений
								.accordion__content
									h4 2
									p 2
							.accordion__item
								h3 Адрес производства
								.accordion__content
									h4 2
									p 2

					.tabs__content.js-tab-content
						p.tabs__content-text 
							span Эргоферон
							| обладает несколькими лечебными эффектами. Первое, самое важное —  противовирусное действие. Второй не менее важный эффект препарата — иммуномодулирующий. Средство мобилизует защитные силы организма для более слаженной и быстрой борьбы с инфекцией, в том числе за счет активного распознавания возбудителя и адекватного иммунного ответа на его вторжение.
						p.tabs__content-text Благодаря противовоспалительному и антигистаминному эффектам 
							span Эргоферон
							| способствует уменьшению выраженности и продолжительности отека слизистых оболочек, бронхоспазма и кашля.
						p.tabs__content-text Может применяться для лечения гриппа и ОРВИ у всех членов семьи — взрослых и детей начиная с 6-месячного возраста.
						.accordion
							.accordion__item
								h3 Лекарственная форма, состав, описание
								.accordion__content
									h4 Торговое название
									p Эргоферон®
									h4 Лекарственная форма
									p Раствор для приема внутрь.
									h4 Состав (на 100 мл) раствора для приема внутрь
									p Действующие вещества:
									p Антитела к гамма интерферону человека аффинно очищенные 0,12 г*
									p Антитела к гистамину аффинно очищенные 0,12 г*
									p Антитела к CD4 аффинно очищенные 0,12 г*
									p * вводятся в виде смеси трех активных водных разведений субстанции, разведенной соответственно в 10012, 10030, 10050  раз. Вспомогательные вещества: мальтитол 6,0 г, глицерол 3,0 г, сорбат калия 0,165 г, лимонная кислота безводная 0,02 г, вода очищенная до 100 мл.
									h4 Описание
									p Бесцветная или почти бесцветная прозрачная жидкость.
							.accordion__item
								h3 Фармакологические свойства
								.accordion__content
									h4 1
									p 1
							.accordion__item
								h3 Показания к применению
								.accordion__content
									h4 2
									p 2
							.accordion__item
								h3 Противопоказания
								.accordion__content
									h4 2
									p 2
							.accordion__item
								h3 Способ применения и дозы
								.accordion__content
									h4 2
									p 2
							.accordion__item
								h3 Побочное действие
								.accordion__content
									h4 2
									p 2
							.accordion__item
								h3 Передозировка
								.accordion__content
									h4 2
									p 2
							.accordion__item
								h3 Лекарственное взаимодействие
								.accordion__content
									h4 2
									p 2
							.accordion__item
								h3 Особые указания
								.accordion__content
									h4 2
									p 2
							.accordion__item
								h3 Форма выпуска и упаковка
								.accordion__content
									h4 2
									p 2
							.accordion__item
								h3 Условия хранения 
								.accordion__content
									h4 2
									p 2
							.accordion__item
								h3 Срок годности
								.accordion__content
									h4 2
									p 2
							.accordion__item
								h3 Условия отпуска из аптек 
								.accordion__content
									h4 2
									p 2
							.accordion__item
								h3 Адрес для обращений
								.accordion__content
									h4 2
									p 2
							.accordion__item
								h3 Адрес производства
								.accordion__content
									h4 2
									p 2
				.btn-wrap
					a(href="#" download).download-link СКАЧАТЬ
								
block footer
	include ../blocks/footer/footer
